@import '../config/variables';
@import '../common/mixins';

.id_verification {

	.info_line {
		border-radius: 1rem;

		&.margin_bottom {
			margin-bottom: $spacing_medium;
		}
	}



	.id_icons {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		margin-bottom: $spacing_small;

		//* {
		//	border: 1px solid red;
		//}

		div {
			width: 16rem;
			text-align: center;

			@media #{$breakpointS} {
				width: 14rem;
			}

			@media #{$breakpointXS} {
				width: 10rem;
			}

			//.icon_title {
			//	font-weight: 400;
			//	line-height: 2rem;
			//	height: 4rem;
			//	font-size: 1.4rem;
			//
			//	@media #{$breakpointXS} {
			//		font-size: 1.2rem;
			//	}
			//}

			i {
				background: $color_brand_blue_bg;
				padding: 3rem;
				border-radius: 24rem;
				color: $color_brand_blue_light;
				font-size: 5rem;
				margin-top: 1rem;

				@media #{$breakpointS} {
					font-size: 4rem;
				}

				@media #{$breakpointXS} {
					font-size: 3rem;
				}
			}
		}
	}

	.files_block {
		display: none;
	}

	.dz-details, .dz-progress, .dz-error-message, .dz-success-mark, .dz-error-mark {
		display: none;
	}
}

.form_2fa_generate {
	text-align: justify;
}

.form_2fa_setup {
	display: none;
	text-align: justify;
}

.form_2fa_auth {
	text-align: justify;
}

.fa2_img {
	img {
		width: 95%;
		height: auto;
	}
}