@import '../config/variables';
@import '../common/mixins';

.layout_contacts {
	.contacts_blocks {

		display: flex;
		flex-flow: row nowrap;

		@media #{$breakpointS} {
			flex-wrap: wrap;
		}

		.contacts_text {
			//width: 50%;
		}

		.offices {
			width: 60rem;
			margin-left: $spacing_medium;

			@media #{$breakpointS} {
				width: 100%;
				margin-left: 0;
				margin-top: $spacing_medium;
			}

			.office_block {

				//border-bottom: 1px solid $color_light_grey;
				background: rgba($color_brand_lightblue_bg, 1);
				padding: 2rem;
				margin-bottom: 1rem;
				display: flex;
				flex-flow: row nowrap;
				align-items: stretch;
				justify-content: space-between;

				@media #{$breakpointXS} {
					flex-wrap: wrap;
					justify-content: center;
					padding: 1rem;
				}

				&:last-child {
					//border-bottom: 0;
				}

				.item_text {
					width: 60%;
					min-width: 22rem;

					@media #{$breakpointXS} {
						min-width: initial;
						width: 100%;
						margin-bottom: $spacing_small;
					}

					.title {
						font-size: 2.5rem;
						font-weight: 500;
						margin-bottom: 1rem;

						@media #{$breakpointXS} {
							font-size: 2rem
						}

						i {
							color: $color_brand_blue_dark;
						}
					}

					.address {
						font-size: 1.6rem;
						//color: $color_dark_grey;
						margin-bottom: $spacing_small;
					}
				}

				.image {

					height: 16rem;
					width: 16rem;
					min-width: 16rem;

					@media #{$breakpointXS} {
						width: 100%;
					}

					background-position: center;
					background-size: cover;

					&.uk {
						background-image: url('/assets/img/uk_address_photo.png');
					}

					&.de {
						background-image: url('/assets/img/de_address_photo.png');
					}
				}
			}
		}
	}

	.our_team {

		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		margin-top: $spacing_medium;

		$size: 20rem;

		.teammate {

			text-align: center;
			width: 33%;
			margin-bottom: $spacing_medium;

			@media #{$breakpointS} {
				width: 50%;
			}

			@media #{$breakpointXS} {
				width: 100%;
			}

			.photo {
				width: $size;
				height: $size;
				border-radius: $size;
				background-position: center;
				background-size: contain;
				margin: 0 auto;
			}

			.name {
				color: $color_dark_grey;
			}

			.job_title {
				font-weight: 400;
				margin: 1rem 0;
			}

			.email {

			}

			.soc {
				margin-top: 1rem;
				font-size: 2.5rem;

				.lin {
					color: #2867b2
				}
			}
		}
	}
}