@import '../config/variables';
@import '../common/mixins';

.first-section{
	background-image: url('/assets/img/first-section-bg.png');
	min-height: 68.75rem;

	@media #{$breakpointL} {
		background-image: url('/assets/img/big-first-section-bg.png');
		height: auto;
		background-position: center;
	}

	@media #{$breakpointXS}{
		min-height: 100vh;
	}

	.container{
		padding-top: 21.875rem;

		.main-block{
			margin-top: 9.375rem;
			position: relative;

			.card-block{
				justify-content: space-between;
				width: 55%;

				.card{
					width: 100%;
					max-width: 11.875rem;
					font-size: 1.5rem;
					line-height: 1.5rem;
					color: $color_white;
					height: 9.375rem;

					.card-body{
						padding-right: 1rem;
					}

					.card-img{
						margin-bottom: 2.75rem;
					}
				}
			}

			.sign-block{
				cursor: pointer;
				z-index: 9;

				.title{
					font-size: 2.25rem;
					line-height: 1.75rem;
					font-weight: 700;
				}

				img{
					position: absolute;
					right: 1rem;
					height: 4.875rem;
					transition: right 1s;
				}

				&:hover{
					img{
						right: 0;
					}
				}
			}
		}

		@media #{$breakpointS}{
			.main-block{
				.card-block{
					padding-right: unset;
					margin-right: 1.25rem;
					width: 65%;

					.card{
						font-size: 1.25rem;
					}
				}

				.sign-block{
					.title{
						font-size: 1.875rem;
						line-height: 1.875rem;
					}

					img{
						width: 2.125rem;
						height: 2.125rem;
					}
				}
			}

			.border-bottom{
				display: none;
			}
		}

		@media #{$breakpointXS}{
			padding-top: 12.5rem;
			padding-bottom: 3rem;

			.title{
				font-size: 4.25rem;
			}

			.main-block{
				margin-top: 4.375rem;
				display: grid;

				.card-block{
					width: 100%;
					border-right: none;
					margin-right: unset;
					padding-bottom: 2.5rem;
					border-bottom: 1px solid $color_white;

					.card{
						font-size: 0.875rem;
						line-height: 0.875rem;
						height: unset;

						.card-img{
							margin-bottom: 1.625rem;
						}
					}
				}

				.sign-block{
					padding-top: 2.5rem;
					justify-content: center;

					.title{
						font-size: 1.5rem;
						line-height: 1.125rem;
					}

					img{
						position: relative;
						margin-left: 2.25rem;
						margin-top: -0.625rem;
						width: 1.75rem;
						height: 1.75rem;
					}
				}
			}
		}
	}

	.title{
		font-size: 11rem;
		line-height: 8.5rem;
		letter-spacing: -0.01em;

		@media #{$breakpointXS}{
			font-size: 4.875rem;
			line-height: 3.75rem;
		}
	}
}

.second-section{
	background-image: url('/assets/img/second-section-bg.png');
	padding-top: 4.375rem;
	padding-bottom: 6.5rem;

	.card-line{
		display: flex;
		width: 100%;

		&.exception{
			.card-block:first-child{
				margin-left: calc(25% - 0.875rem);
			}
		}

		.card-block{
			width: calc(25% - 5.313rem);
			padding: 4.375rem 2.125rem;
			border: 0.4px solid rgba($color: $color_blue, $alpha: 0.6);

			.card-img{
				margin-bottom: 4rem;
				text-align: right;
			}

			.card-title{
				font-weight: 500;
				font-size: 2.5rem;
				line-height: 1.875rem;
				color: $color_white;
			}

			.card-text{
				font-family: 'Roboto', sans-serif;
				font-size: 0.875rem;
				font-weight: 200;
				line-height: 0.75rem;
				color: $color_white;
				margin-top: 2.5rem;
			}
		}
	}

	.label{
		font-weight: 400;
		font-size: 1.125rem;
		line-height: 1.125rem;
		color: rgba($color: $color_white, $alpha: 0.5);
		margin-top: 5.25rem;
	}

	@media #{$breakpointM} {
		padding-top: 2.125rem;
		padding-bottom: 2.5rem;

		.section-title-block{
			padding-bottom: 5.625rem;

			.title{
				font-size: 3.875rem;
				line-height: 3.375rem;
			}
		}

		.card-line{
			flex-flow: wrap;

			:first-child{
				margin-right: 50%;
			}

			.card-block{
				width: calc(50% - 2.625rem);
				padding: 1.5rem 1.25rem;
			}

			&.exception{
				.card-block{
					&:first-child{
						margin-right: 0;
						margin-left: 0;
					}

					&:last-child{
						margin-left: 50%;
					}
				}
			}
		}
	}

	@media #{$breakpointXS} {
		.label{
			margin-top: 3.75rem;
		}

		.card-line{
			.card-block{
				width: calc(50% - 2.125rem);
				padding: 1.5rem 1rem;

				.card-img{
					margin-right: 0;
					margin-bottom: 1.375rem;

					img{
						margin-right: 0;
						height: 2.25rem;
					}
				}

				.card-title{
					font-size: 1.125rem;
					line-height: 0.875rem;
				}

				.card-text{
					margin-top: 1.25rem;
					font-size: 0.625rem;
					line-height: 0.625rem;
				}
			}
		}

		.sign-center-block{
			margin-top: 0;

			.title{
				font-size: 1.25rem;
				line-height: 1rem;
			}

			.circle{
				width: 6.125rem;
				height: 6.125rem;
				margin-left: -0.625rem;

				img{
					width: 1.625rem;
					height: 1.625rem;
				}
			}
		}
	}
}

.third-section{
	background-image: url('/assets/img/third-section-bg.png');
	background-color: $color_white;
	background-position: 50% 10%;
	padding-top: 13.125rem;
	padding-bottom: 7.875rem;

	.title{
		font-size: 4.75rem;
		font-weight: 600;
		line-height: 4.375rem;
		letter-spacing: -0.02em;
		color: $color_black;
	}

	.right-text{
		text-align: right;
		margin-left: 1.25rem;
	}

	.special-container{
		width: 40%;
		margin: 0 auto;

		.label{
			margin-top: 3.125rem;
			display: flex;
			justify-content: center;
			font-size: 1rem;
			line-height: 1.125rem;
			font-weight: 400;
		}
	}

	@media #{$breakpointM} {
		background-position: 5% 50%;

		.special-container{
			width: unset;
			margin: 0 1.875rem;
		}

		.right-text{
			text-align: unset;
		}
	}

	@media #{$breakpointXS} {
		padding-top: 8.125rem;
		padding-bottom: 2.5rem;
		background-position: -5% 50%;

		.title{
			font-size: 2.25rem;
			line-height: 2rem;
		}
	}
}

.fourth-section{
	background-image: url('/assets/img/fourth-section-bg.png');
	padding-top: 12.125rem;
	padding-bottom: 13.75rem;

	.section-title-block{
		.caption{
			color: rgba($color: $color_white, $alpha: 0.6);
		}
	}

	.card-line{
		margin-left: 15%;
		position: relative;

		.card-bg{
			background: linear-gradient(143.4deg, $color_card_bg -17.7%, rgba($color: $color_gray, $alpha: 0.2) 45.45%);
			height: 100%;
			position: absolute;
			width: 100%;
			opacity: 0.6;
			z-index: -1;
		}

		.card-block{
			padding: 4.625rem 3.125rem 4.625rem 4.625rem;
			color: $color_white;

			.card-header{
				padding-bottom: 2.5rem;
				border-bottom: 1px solid $color_white;
				display: flex;

				.card-title{
					font-weight: 700;
					font-size: 2.375rem;
					line-height: 2.375rem;
					letter-spacing: -0.01em;
				}

				.card-caption{
					margin-top: 0.625rem;
					font-weight: 400;
					font-size: 1.25rem;
					line-height: 1.25rem;
					letter-spacing: -0.01em;
				}

				.price-block{
					display: flex;

					.section:first-child{
						padding-left: 1.875rem;
						margin-right: 3.125rem;
					}
				}
			}

			.card-body{
				display: flex;

				.available{
					position: absolute;
					bottom: -0.313rem;
					font-size: 0.75rem;
					line-height: 0.75rem;
					opacity: 0.5;
				}

				.lng-block{
					img:first-child{
						margin-right: 1.25rem;
					}
				}

				.card-text{
					border-left: 1px solid $color_white;
					padding-left: 1.875rem;
					padding-top: 1.5rem;
					padding-bottom: 1.5rem;
					font-size: 1rem;
					line-height: 1rem;
					letter-spacing: -0.01em;
				}
			}
		}

		.swiper-button-next{
			left: 67%;
			border: 0.21px solid rgba($color: $color_white, $alpha: 0.3);
			width: 4.5rem;
			height: 4.5rem;
			border-radius: 50%;
			transition: 0.2s;

			&:hover{
				transform: scale(1.5);
			}
		}

		.swiper-button-prev{
			left: -6.25rem;
			border: 0.21px solid rgba($color: $color_white, $alpha: 0.3);
			width: 4.5rem;
			height: 4.5rem;
			border-radius: 50%;
			transition: 0.2s;

			&:hover{
				transform: scale(1.5);
			}
		}

		.swiper-pagination{
			margin-top: 1.625rem;
			margin-left: 1.625rem;

			.swiper-pagination-bullet{
				background: rgba($color: $color_white, $alpha: 0.3);
				margin-right: 0.875rem;
			}

			.swiper-pagination-bullet-active{
				background: $color_white;
			}
		}
	}

	@media #{$breakpointM} {
		.card-line{
			margin-left: 0.875rem;
		}
	}

	@media #{$breakpointXS} {
		padding-top: 3.375rem;
		padding-bottom: 5rem;
		background-position: 35% 50%;

		.card-line{
			.card-block{
				padding: 0.875rem 1.625rem;

				.card-header{
					display: block;
					padding-bottom: 0;

					.w-50:first-child{
						width: 100%;
					}

					.card-title{
						font-size: 1.625rem;
						line-height: 1.625rem;
					}

					.card-caption{
						font-size: 1rem;
						line-height: 1rem;
						margin-top: 0.25rem;
						margin-bottom: 1rem;
					}

					.price-block{
						width: 100%;
						justify-content: space-between;

						.section:first-child{
							padding-left: 0;
							padding-right: 3.75rem;
							margin: 0;
							border-right: 1px solid $color_white;
						}

						.card-caption{
							margin-bottom: 0.625rem;
						}
					}
				}

				.card-body{
					display: block;

					.lng-block{
						margin-top: 0.625rem;

						img{
							position: absolute;
							right: 0;

							&:first-child{
								margin-right: 2.5rem;
							}
						}

						.available{
							position: relative;
							bottom: 0;
						}
					}

					.w-50{
						width: 100%;

						.card-text{
							border: none;
							padding: 1.625rem 0 0.625rem 0;
						}
					}
				}
			}

			.swiper-pagination{
				margin-top: 1rem;
				margin-left: 0.625rem;
			}
		}

		.line{
			width: 8.375rem;
		}
	}
}

.fifth-section{
	background-image: url('/assets/img/fifth-section-bg.png');
	padding-top: 10.25rem;
	padding-bottom: 1.875rem;

	.section-title-block{
		padding-bottom: 1.25rem;

		.title{
			font-size: 6.75rem;
			line-height: 5.25rem;
		}
	}

	.card-line{
		display: flex;
		justify-content: space-between;

		.card-block{
			width: 23%;
			color: $color_white;

			&:nth-child(even){
				margin-top: 25rem;
			}

			.card-img{
				display: flex;
				position: relative;

				.card-nr{
					position: absolute;
					bottom: 8.125rem;
					font-size: 1.5rem;
					font-style: italic;
					font-weight: 600;
					line-height: 1.375rem;
					color: $color_nr;
				}

				.right{
					width: 100%;
					text-align: right;
				}
			}

			.card-title{
				margin-top: -7.5rem;
				font-size: 2.75rem;
				font-weight: 400;
				line-height: 2.375rem;
				letter-spacing: -0.01em;
			}

			.card-text{
				margin-top: 1.75rem;
				font-weight: 400;
				font-size: 0.75rem;
				line-height: 0.75rem;

			}
		}
	}

	.sign-center-block{
		margin-top: 5.875rem;
	}

	@media #{$breakpointM} {
		.section-title-block{
			.title{
				font-size: 3.125rem;
				line-height: 2.375rem;
				margin-bottom: 1rem;
			}
		}

		.card-line {
			.card-block {
				.card-title{
					font-size: 1.875rem;
					line-height: 1.875rem;
				}
			}
		}
	}

	@media #{$breakpointXS} {
		padding-top: 3.125rem;

		.section-title-block{
			padding: 0;
		}

		.card-line {
			display: block;

			.card-block{
				width: unset;

				&:nth-child(even){
					margin-top: 0;
				}

				.card-title{
					margin-top: -5.25rem;
					text-align: center;
					font-size: 1.625rem;
					line-height: 1.625rem;
				}

				.card-text{
					margin-top: 1rem;
					text-align: center;
				}

				.card-img{
					.card-nr{
						top: 8.75rem;
						left: 1.25rem;
						border: 0.4px solid rgba($color: $color_white, $alpha: 0.6);
						width: 2.625rem;
						height: 2.625rem;
						border-radius: 50%;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 0.875rem;
					}

					.right{
						img{
							width: 7.5rem;
							margin-top: -2.5rem;
						}
					}
				}
			}
		}

		.sign-center-block{
			margin-top: 2.5rem;

			.title{
				font-size: 1.25rem;
			}

			.circle{
				width: 6.125rem;
				height: 6.125rem;
				margin-left: -0.625rem;

				img{
					width: 1.625rem;
					height: 1.625rem;
				}
			}
		}
	}
}

.sixth-section{
	background-image: url('/assets/img/sixth-section-bg.png');
	padding-top: 17.125rem;
	padding-bottom: 13.5rem;
	background-position: 50% 0;

	.content{
		position: relative;
		margin-left: 10%;

		.label{
			position: absolute;
			left: -10%;
			top: 0;
			opacity: 0.5;
			margin-top: 0;
			font-size: 0.75rem;
			font-weight: 300;
			font-size: 0.75rem;
			color: $color_white;
		}
	}

	.section-title-block{
		padding-bottom: 2.5rem;

		.title{
			font-size: 7.5rem;
			margin-left: 2.125rem;
		}
	}

	.aff1liate{
		position: relative;
		margin-bottom: 3.125rem;

		img{
			position: absolute;
			left: -3.75rem;
			top: -0.625rem;
			z-index: 1;
		}

		.value{
			font-size: 1.375rem;
			line-height: 1.125rem;
			letter-spacing: -0.01em;
			font-weight: 600;
			color: $color_white;
		}

		.w-5{
			width: 5%;
		}

		.w-20{
			width: 20%;
		}

		.w-25{
			width: 25%;
		}
	}

	.aff1liate-header{
		background: $color_affiliate_bg;
		width: 100%;
		padding: 3.125rem 2.125rem;
		border-radius: 0.188rem;
		display: flex;
		margin-top: 1.25rem;
		box-sizing: border-box;
		z-index: 3;
	}

	.mob-header{
		display: none;
	}

	.hidden-aff1liate{
		display: none;
	}

	.aff1liate-block{
		border-radius: 0.25rem;

		.line{
			top: unset;
			bottom: 0;
			z-index: 4;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0.625rem;
			border-top-right-radius: 0.625rem;
		}
	}

	.aff1liate-line{
		padding: 3.125rem 2.125rem 0 2.125rem;
		display: flex;

		&.not-active{
			opacity: 0.5;
		}

		.value-sm{
			font-size: 1rem;
			line-height: 0.75rem;
			letter-spacing: -0.01em;
			font-weight: 600;
			color: $color_white;
		}

		.value-extra-sm{
			font-size: 0.75rem;
			color: $color_white;
			opacity: 0.5;
		}
	}

	.sign-center-block{
		justify-content: unset;
		padding-left: 1.875rem;

		.title{
			font-size: 1.25rem;
		}

		.circle{
			width: 6.625rem;
			height: 6.625rem;
			margin-left: 1.875rem;

			.rotate{
				transform: rotate(180deg);
			}
		}
	}

	@media #{$breakpointM} {
		.content{
			.label{
				position: relative;
				left: 0;
				margin-bottom: 1.75rem;
			}
		}

		.section-title-block{
			.title{
				font-size: 3.125rem;
				margin-left: 0;
			}
		}
	}

	@media #{$breakpointXS} {
		padding-top: 6.875rem;
		padding-bottom: 6.875rem;
		background-position: 100% 0;

		.content{
			margin-left: 0;
		}

		.aff1liate{
			margin-bottom: 2.25rem;

			img{
				width: 4.5rem;
				left: -3.125rem;
			}

			.aff1liate-header,
			.aff1liate-line{
				flex-flow: wrap;
				padding: 1.25rem;
				max-width: 15.625rem;

				.mob-header{
					display: block;
					font-size: 0.75rem;
					font-weight: 400;
					text-align: left;
					margin-bottom: 0.25rem;
					color: rgba($color: $color_white, $alpha: 0.6);
				}

				.id,
				.user,
				.price{
					width: 100%;
					font-size: 0.875rem;
					line-height: 0.875rem;
				}

				.user,
				.price{
					text-align: center;
				}

				.reg,
				.deposit{
					width: 50%;
					text-align: center;
					box-sizing: border-box;
					padding: 0.625rem 0;
					font-size: 1.125rem;
					line-height: 1rem;
				}

				.deposit{
					padding-left: 0.75rem;
				}

				.reg{
					border-right: 0.5px solid rgba($color: $color_white, $alpha: 0.7);
				}

				.price{
					padding-bottom: 0.625rem;
					border-bottom: 0.5px solid rgba($color: $color_white, $alpha: 0.7);
					font-size: 1.125rem;
					line-height: 1rem;
				}
			}

			.aff1liate-line{
				background: $color_affiliate_bg;
				width: 100%;
				box-sizing: border-box;
				margin: 1.625rem auto 0 auto;

				&:nth-child(2){
					opacity: 0.5;

					&.d-m-flex{
						opacity: unset;
					}
				}

				&:not(:nth-child(2)){
					display: none;
				}
			}
		}

		.aff1liate-block{
			margin-left: auto;
			margin-right: auto;
			width: max-content;

			.line{
				top: 1.313rem;
				bottom: unset;
				border-bottom-right-radius: 0.625rem;
				border-top-right-radius: 0;
				border-bottom-left-radius: 0;
				width: 7.25rem;
			}
		}

		.sign-center-block{
			flex-flow: row-reverse;
			justify-content: flex-end;
			padding-left: 0;


			.circle{
				width: 4rem;
				height: 4rem;
				margin-right: 1.375rem;

				img{
					width: 1.375rem;
					height: 1.375rem;
				}
			}
		}
	}
}

.seventh-section{
	padding-top: 6.25rem;
	padding-bottom: 7.5rem;

	.section-title-block{
		padding-bottom: 6.25rem;
	}

	.card-line{
		margin-left: 15%;
		position: relative;

		@media #{$breakpointL} {
			margin-left: auto;
		}

		.card-block{
			padding: 2.75rem 6.25rem;
			border: 0.4px solid rgba($color: $color_white, $alpha: 0.2);
			text-align: center;

			.quotes{
				position: absolute;
				left: 1.875rem;
				top: calc(50% + 0.625rem);
			}

			.card-img{
				img{
					border-radius: 50%;
				}
			}

			.card-caption{
				color: $color_gray;
				font-size: 0.75rem;
				line-height: 0.625rem;
				font-weight: 500;
				font-style: italic;
				margin-top: 0.25rem;
			}

			.card-title{
				color: $color_white;
				font-size: 1.5rem;
				line-height: 1.125rem;
				font-weight: 600;
				margin-top: 0.625rem;
			}

			.card-text{
				color: $color_light_gray;
				font-family: 'Roboto', sans-serif;
				font-size: 1rem;
				line-height: 1.125rem;
				font-weight: 300;
				margin-top: 4.625rem;
			}
		}

		.swiper-slide{
			opacity: 0.3;
		}

		.swiper-slide-active{
			opacity: 1;
		}

		.swiper-slide-next{
			opacity: 1;
		}

		.swiper-button-next-review{
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			left: 76%;
			border: 0.21px solid rgba($color: $color_white, $alpha: 0.3);
			width: 4.5rem;
			height: 4.5rem;
			border-radius: 50%;
			position: absolute;
			top: 40%;
			z-index: 1;
			transition: 0.2s;

			&:hover{
				transform: scale(1.5);
			}
		}

		.swiper-button-prev-review{
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			left: -6.25rem;
			border: 0.21px solid rgba($color: $color_white, $alpha: 0.3);
			width: 4.5rem;
			height: 4.5rem;
			border-radius: 50%;
			position: absolute;
			top: 40%;
			z-index: 1;
			transition: 0.2s;

			&:hover{
				transform: scale(1.5);
			}
		}
	}

	@media #{$breakpointXS} {
		padding-bottom: 3rem;
		padding-top: 3.125rem;
		background-color: rgba($color: $color_bg, $alpha: 0.9);

		.section-title-block{
			margin-bottom: 1.625rem;
			padding-bottom: 0;

			.caption{
				display: none;
			}
		}

		.card-line{
			margin-left: auto;

			.card-block{
				padding: 1.875rem 2.5rem 4.125rem 2.5rem;

				.quotes{
					left: 0.75rem;
					top: calc(50% - 0.625rem);
				}

				.card-text{
					margin-top: 3.125rem;
				}
			}

			.swiper-button-next-review,
			.swiper-button-prev-review{
				display: none;
			}
		}
	}
}

.eight-section{
	background-image: url('/assets/img/eighth-section-bg.png');
	padding-top: 3.875rem;
	padding-bottom: 4.875rem;

	.content{
		width: 100%;
		max-width: 60rem;
		margin: 0 auto;
		position: relative;

		.label{
			position: absolute;
			left: -20%;
			top: 2.125rem;
			margin-top: 0;
			font-size: 0.75rem;
			font-weight: 400;
			line-height: 0.75rem;
			color: $color_white;
		}

		@media #{$breakpointL} {
			max-width: unset;
		}
	}

	.section-title-block{
		padding-bottom: 3.75rem;
	}

	.form-block{
		display: flex;
		flex-flow: wrap;
		margin-right: -0.875rem;
		margin-left: -0.875rem;
		box-sizing: border-box;
	}

	.caption{
		font-size: 0.75rem;
		font-weight: 300;
		line-height: 0.625rem;
		letter-spacing: -0.02em;
		color: $color_dark_gray;
		margin-left: 1.875rem;
	}

	.sign-center-block{
		margin-top: 1.125rem;

		.title{
			margin-right: 2.125rem;
			font-size: 1.875rem;
			line-height: 1.375rem;
			transition: margin-right 1s;
		}

		&:hover{
			.title{
				margin-right: 3.25rem;
			}
		}
	}

	@media #{$breakpointM} {
		.content{
			.label{
				position: relative;
				left: 0;
				top: -2.125rem;
			}
		}
	}

	@media #{$breakpointXS} {
		background-image: url('/assets/img/eight-section-bg-mob.png');
		background-position: 0 50%;
		padding-top: 6.25rem;

		.content{
			.label{
				position: relative;
				left: 0;
				top: -2.125rem;
			}
		}

		.section-title-block{
			padding-bottom: 2.5rem;
		}

		.form-block{
			margin: unset;
		}

		.caption{
			margin-left: 1rem;
		}

		.sign-center-block{
			margin-top: 2.5rem;

			.title{
				font-size: 1.5rem;
				line-height: 1.125rem;
			}
		}
	}
}

.sign-center-block{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -1.5rem;
	cursor: pointer;

	&:hover{
		.circle{
			margin-left: 1.5rem;

			img{
				transform: scale(1.3);
			}
		}
	}

	.title{
		font-size: 2.5rem;
		line-height: 1.875rem;
	}

	.circle{
		border: 0.5px solid rgba($color: $color_white, $alpha: 0.3);
		width: 13.5rem;
		height: 13.5rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: -1.5rem;
		transition: margin-left 1s;

		img{
			transition: transform 1s;
		}

		@media #{$breakpointM} {
			width: 9.625rem;
			height: 9.625rem;

			img{
				height: 2.5rem;
			}
		}
	}
}

.section-title-block{
	display: flex;
	margin-right: 10%;
	padding-bottom: 15%;
	position: relative;

	.label{
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0.5;
		margin-top: 0;
		font-size: 1.125rem;
		font-weight: 300;
		line-height: 1.125rem;
		color: $color_white;
	}

	.title{
		font-size: 8.75rem;
		line-height: 7.625rem;
		margin-bottom: 1.5rem;
	}

	.caption{
		font-weight: 300;
		font-size: 2rem;
		line-height: 2rem;
		letter-spacing: 0.01em;
		color: $color_white;
	}

	@media #{$breakpointS} {
		display: block;
		margin-right: 0;

		.label{
			position: relative;
			margin-bottom: 3.125rem;
		}

		.title{
			font-size: 3.125rem;
			line-height: 2.625rem;
			margin-bottom: 0.375rem;
		}

		.caption{
			font-size: 1.5rem;
			line-height: 1.5rem;
		}
	}
}