@import '../config/variables';
@import '../common/mixins';

.home_wrapper {

	//padding-top: $spacing_small;

	.others_earn {
		.heading_default {
			margin-top: $spacing_medium;
		}

		//.button_start_earn {
		//	margin-bottom: $spacing_big;
		//}
	}
	//
	//.heading_reviews {
	//	text-align: center;
	//	text-transform: uppercase;
	//	font-weight: 400;
	//	font-size: 2.5rem;
	//	margin: $spacing_medium 0;
	//}
	//
	//.user_reviews {
	//	border-top: 3px dotted $color_dark_grey;
	//	border-bottom: 3px dotted $color_dark_grey;
	//	padding: $spacing_medium 0;
	//
	//	@media #{$breakpointXS} {
	//		padding: $spacing_small 0;
	//	}
	//
	//	.review {
	//		//width: 30rem;
	//		display: flex;
	//		flex-flow: row nowrap;
	//		padding: 0 $spacing_small 5rem $spacing_small;
	//		width: 90%;
	//		margin: 0 auto;
	//
	//		.image {
	//			min-width: 8rem;
	//			width: 8rem;
	//			height: 8rem;
	//			background-size: contain;
	//			background-repeat: no-repeat;
	//			background-position: center top;
	//			margin-right: $spacing_small;
	//			border-radius: 16rem;
	//			border: 3px solid $color_brand_blue_dark;
	//
	//			@media #{$breakpointXS} {
	//				width: 6rem;
	//				height: 6rem;
	//				min-width: 6rem;
	//			}
	//		}
	//
	//		.contents {
	//
	//			width: 80%;
	//
	//			.title {
	//				font-weight: 400;
	//				margin-bottom: 1rem;
	//			}
	//
	//			.text {
	//				font-size: 1.8rem;
	//
	//				@media #{$breakpointXS} {
	//					font-size: 1.5rem;
	//				}
	//			}
	//		}
	//	}
	//}

	.bulletpoints {

		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		cursor: default;
		margin-bottom: $spacing_big;

		@media #{$breakpointS} {
			margin-bottom: $spacing_small;
		}

		.arrow {
			width: 8rem;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			background-image: url(/assets/img/home/arrow.svg);
			margin-bottom: 9rem;

			@media #{$breakpointS} {
				width: 6rem;
			}

			@media #{$breakpointXS} {
				margin-bottom: 0;
			}
		}

		.point {

			width: 20%;

			@media #{$breakpointXS} {
				width: 100%;

				margin-bottom: 2rem;
			}

			$icon_size: 18rem;

			.icon_wrapper {
				width: $icon_size;
				height: $icon_size;
				overflow: hidden;
				transition: 0.3s;
				margin: 0 auto;
				//background: $color_brand_lightblue_bg;
				border-radius: $icon_size;

				@media #{$breakpointS} {
					width: 12rem;
					height: 12rem;
					border-radius: 12rem;
				}

				@media #{$breakpointXS} {
					width: $icon_size;
					height: $icon_size;
					border-radius: $icon_size;
				}

				.icon {
					width: 100%;
					height: 100%;
					color: $color_brand_grey;
					transition: 0.3s;

					background-repeat: no-repeat;
					background-position: center;
					background-size: 100%;

					&.quality {
						background-image: url(/assets/img/home/bullet1.svg);
					}

					&.speed {
						background-image: url(/assets/img/home/bullet2.svg);
					}

					&.safety {
						background-image: url(/assets/img/home/bullet3.svg);
					}
				}
			}

			.title {
				color: $color_black;
				font-size: 2rem;
				font-weight: 600;
				line-height: 2.5rem;
				margin: $spacing_small 0 0 0;
				text-align: center;
				//background: $color_brand_blue_bg;
				border-radius: 2rem;
				//padding: 1rem;
				text-transform: uppercase;

				span {
					font-weight: 600;
				}

				@media #{$breakpointS} {
					font-size: 1.6rem;
					//margin: $spacing_small;
				}

				@media #{$breakpointXS} {
					margin: 1rem;
				}
			}

			.subtitle {
				font-size: 1.4rem;
				text-align: center;
				//color: $color_dark_grey;
				margin-bottom: $spacing_small;
				margin-top: 1rem;
			}

			&:hover {
				.icon_wrapper {
					transform: translate(1rem, 0);
					margin-top: 0;
				}
			}
		}
	}

	.heading_what_is_btc {
		text-align: center;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 2.5rem;
		margin: $spacing_medium 0;
	}

	.what_is_btc {
		border-top: 3px dotted $color_dark_grey;
		border-bottom: 3px dotted $color_dark_grey;
		padding: $spacing_medium 0;
		margin-bottom: $spacing_big;

		.container {

			display: flex;
			flex-flow: row nowrap;

			@media #{$breakpointXS} {
				flex-wrap: wrap;
			}

			.text {
				width: 70%;

				@media #{$breakpointXS} {
					width: 100%;
					order: 2;
				}
			}

			.image {
				width: 30%;
				height: 24rem;
				background: url('/assets/img/home/btc_icon.png') no-repeat center;
				background-size: contain;
				//border: 1px solid red;

				@media #{$breakpointS} {
					width: 40%;
				}

				@media #{$breakpointXS} {
					width: 100%;
					order: 1;
					height: 12rem;
				}
			}

			//@media #{$breakpointS} {
			//	padding-right: 28rem;
			//}

			@media #{$breakpointXS} {
				//background: none;
				//padding: 0 2rem;
				//padding-right: 28rem;
			}
		}

		@media #{$breakpointXS} {
			padding: $spacing_small 0;

			p {
				font-size: 1.4rem;
			}
		}

	}

	.layout_any_device {
		//background: $color_brand_lightblue_bg;
		background: linear-gradient(to right top, $color_brand_darkblue_light, lighten($color_brand_darkblue_dark, 5%));
		padding: $spacing_small 0 $spacing_medium 0;
		position: relative;

		@media #{$breakpointXS} {
			padding: $spacing_small 0 1rem 0;
		}

		.heading_default {
			color: $color_white;
			margin: $spacing_medium 0 $spacing_big 0;

			&:before {
				background: $color_white;
			}

			@media #{$breakpointXS} {
				margin: 0 0 $spacing_medium 0;
			}
		}

		.tick_list {
			background: $color_white;
			padding: 5rem 10% 3rem 4rem;
			box-shadow: 1rem 0.3rem 4rem rgba(#000, 0.4);
			border-radius: 3rem;
			width: 60%;
			position: relative;
			margin-bottom: $spacing_medium;
			//height: 40rem;

			@media #{$breakpointXS} {
				width: 100%;
				padding: 4rem 2rem;
			}

			.tick {
				background: url('/assets/img/home/green_tick.png') no-repeat left 0.5rem;
				background-size: 3rem;
				min-height: 4rem;
				padding-left: 5rem;
				font-size: 2.5rem;
				line-height: 3.5rem;
				margin-bottom: $spacing_medium;

				@media #{$breakpointS} {
					font-size: 2rem;
					line-height: 2.5rem;
					background-position: left top;
				}

				@media #{$breakpointXS} {
					font-size: 1.8rem;
					line-height: 2.2rem;
					margin-bottom: $spacing_small;
				}
			}

			.macbook {
				position: absolute;
				top: 5%;
				left: 80%;
				bottom: 5%;
				right: -62%;
				background: url('/assets/img/home/macbook_and_iphone.png') no-repeat center;
				background-size: contain;

				@media #{$breakpointXS} {
					width: 100%;
					height: 20rem;
					position: relative;
					left: initial;
					top: initial;
					right: initial;
					bottom: initial;
					margin-bottom: $spacing_medium
				}
			}

			@media #{$breakpointXS} {

				p {
					font-size: 1.4rem;
				}

			}
		}

		.container {
			z-index: 5;
		}

	}

	.layout_miners {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		margin-top: 16rem;
		margin-bottom: $spacing_big;

		@media #{$breakpointXS} {
			margin-top: 6rem;
			flex-wrap: wrap;
			margin-bottom: $spacing_small;
		}

		.miner_wrapper {

			box-shadow: 0 1rem 3rem rgba($color_black, 0.15);
			border-radius: 3rem;

			@media #{$breakpointXS} {
				margin-bottom: $spacing_medium;
				box-shadow: 0 0 2rem rgba($color_black, 0.15);
			}

			.image {
				width: 100%;
				height: 20rem;
				margin-top: -10rem;
				position: relative;

				@media #{$breakpointS} {
					height: 16rem;
				}

				@media #{$breakpointXS} {
					margin-top: 0;
					height: 12rem;
				}

				svg {
					width: 100%;
					height: 100%;
				}

				.ghs {
					position: absolute;
					right: 10%;
					bottom: -10%;
					background: $color_brand_blue_light;
					padding: 0.5rem 1rem;
					color: $color_white;
					font-weight: 600;
					font-size: 2.5rem;
					border-radius: 1.5rem;
					border: 5px solid $color_white;
					box-shadow: 0 1rem 3rem #bbb;

					@media #{$breakpointXS} {
						font-size: 2rem;
						bottom: -17%;
					}
				}
			}

			.counter {
				text-align: center;
				font-size: 4rem;
				font-weight: 600;
				color: $color_brand_green_dark;
				padding: 2rem;
				margin-top: $spacing_small;

				@media #{$breakpointS} {
					font-size: 3.5rem;
				}

				@media #{$breakpointXS} {
					font-size: 3rem;
				}
			}

			.description {
				padding-bottom: 2rem;
				text-align: center;
				//text-transform: uppercase;
				font-size: 1.6rem;
				font-weight: 300;
				color: $color_dark_grey;
			}

			&.small {
				width: 40%;

				@media #{$breakpointXS} {
					width: 100%;
				}

				.ghs {
					background: lighten($color_brand_blue_light, 20%);
				}

				.counter {
					opacity: 0.7;
				}
			}

			&.large {
				width: 50%;

				@media #{$breakpointXS} {
					width: 100%;
				}
			}

		}
	}

	.inv_packages {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 0 1rem;

		@media #{$breakpointS} {
			flex-wrap: wrap;
			padding: 0;
		}

		.package {
			width: calc(100% / 4 - 3rem);
			border-radius: 1rem;
			overflow: hidden;
			box-shadow: 0 1rem 3rem #ccc;
			display: flex;
			flex-flow: column;
			//box-shadow: 0.5rem 0.5rem 3rem $box_shadow_color;
			transition: 0.3s;

			@media #{$breakpointS} {
				width: calc(50% - 0.5rem);
				margin-bottom: 1rem;
			}

			&.opaque {
				opacity: 0.5;

				&:hover {
					opacity: 1;
				}
			}

			.heading {
				text-align: center;
				color: $color_white;
				font-weight: 400;
				background: linear-gradient(#04B3F8, #027CEF);
				padding: 1rem;
				cursor: default;
			}

			.content {
				padding: 2rem;
				height: 100%;

				@media #{$breakpointS} {
					padding: 1rem;
				}

				.icon {
					width: 100%;
					height: 10rem;

					@media #{$breakpointXS} {
						height: 8rem;
					}

					margin-bottom: $spacing_small;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;

					&.choose { background-image: url('/assets/img/miners/miner_choose.svg'); }

					svg {
						width: 100%;
						height: 100%;
					}
				}

				.opt_wrapper {

					border-top: 1px solid $color_light_grey;
					border-bottom: 1px solid $color_light_grey;
					padding: 1rem 0;

					text-align: center;
					//font-weight: 400;

					.title {
						font-size: 1.5rem;
						color: $color_dark_grey;
						margin-bottom: 1rem;
						text-transform: uppercase;

						@media #{$breakpointS} {
							font-size: 1.4rem;
						}

						@media #{$breakpointXS} {
							font-size: 1.3rem;
						}
					}

					.count {
						font-size: 1.6rem;
						font-weight: 300;
						//font-weight: 600;
						//color: $color_dark_grey;

						&.bigger {
							//color: $color_black;
							font-weight: 600;
							font-size: 2rem;

							@media #{$breakpointS} {
								font-size: 1.8rem;
							}
						}

						@media #{$breakpointS} {
							font-size: 1.5rem;
						}
					}

					.available {
						color: $color_brand_green_dark;
						font-weight: 400;

						&.orange {
							color: $color_brand_orange_dark;
						}
					}

					.irs-single {
						display: none;
					}

					.ghs_slider {
						padding: 0 2rem;
					}

					&.price {
						.title, .count {
							//color: $color_dark_grey;
						}
					}
				}

				.info_text {
					font-size: 1.6rem;
					padding: $spacing_small 0;
					text-align: justify;
				}
			}
			.buttons {
				.button_start_earn, .button_more {
					//display: inline-block;
					width: 80%;
					height: 4rem;
					line-height: 4rem;
					padding: 0 2rem;
					margin: 0 auto 2rem auto;
					//font-weight: 300;

					@media #{$breakpointXS} {
						padding: 0;
					}
				}

				.button_more {
					margin-bottom: 2rem;
				}
			}

		}
	}

	.inv_calculator {
		margin-top: $spacing_small;
	}

	.inv_description {
		border-radius: 1rem;
		box-shadow: 0 1rem 3rem #ccc;
		margin-top: $spacing_medium;
		padding: 1rem 2rem 3rem 2rem;
		background: linear-gradient(to right, #04B3F8, #027CEF);
		color: $color_white;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		font-weight: 400;
		text-align: center;
		line-height: 4rem;

		@media #{$breakpointS} {
			line-height: 2.5rem;
		}

		@media #{$breakpointXS} {
			padding: 0.5rem 1rem 1.5rem 1rem;
		}
	}

	.inv_text {
		font-size: 2.5rem;
		margin-right: 2rem;
		margin-top: 2rem;

		@media #{$breakpointXS} {
			font-size: 2rem;
		}
	}

	.packages_calc_button {
		width: 24rem;
		margin-top: 2rem;
		//margin-top: 2rem;
	}

	.partners_list {

		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		filter: grayscale(100%);
		transition: 0.3s;

		@media #{$breakpointS} {
			padding: 0 2rem;
		}

		@media #{$breakpointXS} {
			margin-top: $spacing_small;
			filter: initial;
		}

		&:hover {
			filter: none;
		}

		.partner {
			width: 15%;
			height: 10rem;
			text-align: center;
			display: flex;
			justify-content: center;

			@media #{$breakpointS} {
				width: 25%;
				height: 8rem;
			}

			@media #{$breakpointXS} {
				width: 33%;
				height: 6rem;
				//padding: 1rem;

				img {
					width: 70%;
					height: auto;
				}
			}
		}

		&.mentions_list {

			//filter: none;

			.partner {
				width: 25%;
				height: auto;
				//border: 1px solid red;

				a {
					display: inline-block;
				}

				img {
					width: 90%;
					height: auto;
				}

				@media #{$breakpointS} {
					width: 33%;
				}
				//
				@media #{$breakpointXS} {
					width: 50%;
				}
			}
		}
	}

	.risks {
		font-size: 1.4rem;
		color: $color_dark_grey;
		text-align: justify;
		margin: $spacing_medium auto;
	}

	.what_is_btc_new {
		padding: 0;
		//margin-bottom: $spacing_big;
		background: $color_brand_lightblue_bg;
		padding-bottom: $spacing_small;

		.heading_default {
			margin: $spacing_medium 0;
		}

		.container {

			display: flex;
			flex-flow: row nowrap;
			align-items: center;

			@media #{$breakpointXS} {
				flex-wrap: wrap;
			}

			.text {
				width: 60%;
				padding: 0 8rem;

				@media #{$breakpointM} {
					padding: 0 4rem;
				}

				@media #{$breakpointS} {
					padding: 0 2rem;
				}

				@media #{$breakpointXS} {
					width: 100%;
					order: 2;
				}
			}

			.image {
				width: 40%;
				//height: 24rem;

				@media #{$breakpointXS} {
					width: 100%;
				}

				img {
					width: 100%;
					height: auto;
				}

				//background: url('/assets/img/home/btc_icon.png') no-repeat center;
				//background-size: contain;
				////border: 1px solid red;
				//
				//@media #{$breakpointS} {
				//	width: 40%;
				//}
				//
				//@media #{$breakpointXS} {
				//	width: 100%;
				//	order: 1;
				//	height: 12rem;
				//}
			}

			//@media #{$breakpointS} {
			//	padding-right: 28rem;
			//}

			@media #{$breakpointXS} {
				//background: none;
				//padding: 0 2rem;
				//padding-right: 28rem;
			}
		}

		@media #{$breakpointXS} {
			padding: $spacing_small 0;

			p {
				font-size: 1.4rem;
			}
		}

	}

	.chart_block {
		box-shadow: 0 1rem 3rem #ccc;
		border-radius: 3rem;
		margin-bottom: $spacing_big;
		overflow: hidden;
		//height: 40rem;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		//background: #F3F8FD;

		@media #{$breakpointXS} {
			flex-flow: row wrap;
			padding: 2rem 0 0 0;
		}

		.price_line {
			width: 35%;
			text-align: center;
			font-size: 3rem;

			@media #{$breakpointS} {
				font-size: 2.2rem;
			}

			@media #{$breakpointXS} {
				font-size: 1.8rem;
				padding: 1rem 0;
				width: 100%;
				order: 1;
			}

			.btc {
				font-weight: 300;
				color: $color_dark_grey;
				margin-bottom: 3rem;
			}

			.price {
				font-weight: 600;
			}

			em {
				font-size: 2.5rem;
				font-style: normal;
				font-weight: 300;

				@media #{$breakpointXS} {
					font-size: 1.4rem;
				}
			}

			.change {
				color: $color_brand_green_dark;
				font-weight: 600;
				margin-top: $spacing_small;
			}
		}

		.canvas_wrapper {
			width: 65%;
			padding: $spacing_medium;

			@media #{$breakpointXS} {
				width: 100%;
				padding: 1.5rem;
				order: 2;
			}

			canvas {

			}
		}
	}
}