@import '../config/variables';
@import '../common/mixins';

p.privacy-text-wrapp-title {
  font-family: Compose, sans-serif;
  font-weight: 600;
  font-size: 5rem;
  line-height: 87.2%;
  color: #FFFFFF;
  margin-bottom: 30px;
  @media #{$breakpointS} {
    font-size: 3rem;
  }
  @media #{$breakpointXS} {
    font-size: 1.5rem;
  }
}

p.privacy-text-wrapp-desc {
  font-family: Compose, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-top: 15px;
}

p.privacy-text-wrapp-pre-title {
  font-family: Compose, sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 77.2%;
  color: #FFFFFF;
  margin-top: 40px;
}

.main-screen-privacy {
  background-size: cover;
  padding: 14.375rem 0;
	@media #{$breakpointS} {
		padding: 8.375rem 0
	}
  background: #020c11 url('/assets/img/work-back-2.png');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #000000;




}

.languages:hover {
  cursor: pointer;
}

p.privacy-text-wrapp-desc a {
  color: #fff;
  text-decoration: underline;
}

span.bold {
  font-weight: 600;
}