.payment_wrapper {
	iframe {
		border: 0;
	}
}

.lobby_payment {

	.info_solution {
		margin-bottom: $spacing_medium;
		font-size: 2.5rem;
		font-weight: 500;
		display: none;
	}

	.warning_message {
		color: $color_black;
		padding: 2rem;
		font-weight: 600;
	}

	.bullet_wrapper {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
		margin-bottom: $spacing_medium;

		@media #{$breakpointXS} {
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: $spacing_small;
		}

		&:last-child {
			margin-bottom: 0;
		}

		.bullet {
			font-size: 3rem;
			font-weight: 400;
			color: $color_dark_grey;
			width: 6rem;
			height: 6rem;
			line-height: 6rem;
			text-align: center;
			border-radius: 8rem;
			background: $color_brand_lightblue_bg;

			@media #{$breakpointXS} {
				width: 3rem;
				height: 3rem;
				line-height: 3rem;
				font-size: 2rem;
				margin-bottom: 1rem;
			}
		}

		.contents {
			width: 100%;
			margin-left: $spacing_medium;
			margin-top: 0;

			font-size: 2rem;
			line-height: 3.5rem;

			@media #{$breakpointXS} {
				font-size: 1.6rem;
				line-height: 3rem;
				margin: 0;
				text-align: center;
			}

			.title {
				//color: $color_dark_grey;
				font-weight: 400;
			}

			.btc_address {
				color: $color_brand_green_dark;
				font-weight: 600;

				@media #{$breakpointXS} {
					font-size: 1.5rem;
					overflow-wrap: break-word;
				}

				.copy {
					width: initial;
					display: inline-block;
					cursor: pointer;
					//color: $colo;
					font-size: 1.4rem;
					font-weight: 400;
					text-transform: uppercase;
					height: 3rem;
					line-height: 3rem;
					background: $color_brand_green_dark;

					&:active {
						background: $color_brand_green_light;
						transform: none;
					}

					@media #{$breakpointXS} {
						display: block;
						margin: 0 auto;
					}
				}
			}

			.btc_sum {
				//color: $color_brand_green_dark;
				font-weight: 600;
			}

			.btc_qr {
				img {
					width: 20rem;
					height: auto;

					@media #{$breakpointXS} {
						width: 16rem
					}
				}
			}

			.partner_website {
				color: $color_brand_blue_dark;
				font-weight: 400;

				span {
					color: $color_black;
				}
			}
		}
	}

	.company_payment_tip, .card_payment_tip {
		font-size: 1.6rem;
		line-height: initial;
		margin-top: $spacing_small;
		color: $color_dark_grey
	}

	.card_payment_tip {
		margin-top: 1rem;
	}

	//.pay_button_wrapper {
	//
	//	.pay_sum {
	//		text-align: center;
	//
	//		span {
	//			font-weight: 500;
	//			//color: $color_dark_grey;
	//		}
	//	}
	//
	//	.pay_profit {
	//		text-align: center;
	//		font-size: 1.6rem;
	//		margin-bottom: 1rem;
	//
	//		@media #{$breakpointS} {
	//			font-size: 1.4rem;
	//		}
	//
	//		.green {
	//			font-weight: 600;
	//			color: $color_brand_green_dark;
	//		}
	//	}
	//
	//	margin: 2rem 0;
	//}

	.card_submit {
		margin-top: 2rem;
	}


	.card_preloader {
		text-align: center;
		margin-top: $spacing_small;
		display: none;

		.loading_text {
			color: $color_black;
			font-size: 2rem;
			font-weight: 500;
		}

		i {
			font-size: 5rem;
			color: $color_brand_blue_light;
			margin-top: $spacing_small;
		}
	}

	.payment_logos {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		opacity: 0.7;
		transition: 0.3s;
		margin-top: $spacing_medium;

		&:hover {
			opacity: 1;
		}

		.logo {
			width: 5rem;
			height: 5rem;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			margin-right: 1rem;

			@media #{$breakpointS} {
				width: 3rem;
				height: 3rem;
			}

			&.visa { background-image: url('/assets/img/logo/visa.png'); }
			&.visa-electron { background-image: url('/assets/img/logo/visa-electron.png'); }
			&.paypal { background-image: url('/assets/img/logo/paypal.png'); }
			&.mastercard { background-image: url('/assets/img/logo/mastercard.png'); }
			&.maestro { background-image: url('/assets/img/logo/maestro.png'); }
			&.american-express { background-image: url('/assets/img/logo/american-express.png'); }
		}
	}

	.payment_result {
		padding: $spacing_medium;
		text-align: center;

		a {
			margin-top: $spacing_medium;
		}

		.payment_success {
			color: $color_brand_green_dark;
		}

		.payment_failure {
			color: $color_fail;
		}
	}

	.payment_status {
		&.green {
			color: $color_brand_green_dark;
		}

		&.orange {
			color: $color_brand_orange_dark;
		}

		&.success {
			color: $color_brand_green_dark;
		}

		&.error {
			color: $color_fail;
		}

		&.waiting {
			color: $color_brand_orange_dark;
		}
	}

	.jp-card {
		min-width: initial;
	}
}