.tableHeadItem {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    //padding: 10px 0;

    &--group {
        padding: 18px 27px;
        display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.2);
        border-left: 1px solid #282D3A;
        border-right: 1px solid #282D3A;

        .tableHeadItem__text {
            font-size: 15px;
            line-height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        .tableHeadItem__info {
            width: 14px;
            height: 14px;
            margin-left: 8px;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 8px;

            &--highlighted {
                background-color: #FFFFFF;
                box-shadow: 0 0 20px #FFFFFF;
            }
        }
    }

    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #898A98;
    }

    &__info {
        width: 11px;
        height: 11px;
        background-color: #898A98;
        border-radius: 50%;
        margin-left: 5px;

        &--highlighted {
            background-color: #FFFFFF;
            box-shadow: 0 0 20px #FFFFFF;
        }
    }
}