.smartLinksPage {
  &__content {
    width: 100%;
    height: 98%;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-top: 16px;
    width: 100%;

    &--Mobile {
      align-items: flex-end;
    }
  }

  &__filters {
    width: 100%;

    .filterMobile {
      &__dropdown {
        margin: 0;
      }
      &__fieldsItem{
        width: calc(100% + 50px);
      }
      &__header {
        width: calc(100% + 50px);
      }
      &__footer {
        margin: 20px 0 0;
        .button {
          & > button {
          padding: 13px 15px;
          }
        }
      }
    }

  }

  &__create {
    transition: all ease 0.3s;
    position: relative;
    margin-left: 14px;
    width: 100%;
    max-width: 185px;
    display: flex;
    justify-content: flex-end;

    .button {
      height: 100%;
      white-space: nowrap;
      width: 100%;

      & > button {
        padding: 12px 15px;
      }
    }

    &--Mobile {
      margin-left: 5px;
      height: 100%;
      max-width: 44px;

      .button {
        width: 100%;
        height: unset;

        & > button {
          padding: 10px;

          & > svg {
            transform: rotate(45deg)
          }
        }
      }
    }
  }

  &__table {
    margin-top: 16px;
  }
}
