.offerPaymentParam {
  padding: 5px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin: 5px 40px 5px 0;

  &__value {
    border-radius: 4px;
    width: fit-content;
  }

  &__name {
    margin-right: 0;
  }


  &--isMobile {
    margin: 0;
    width: 100%;
    padding: 10px 0;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);

    &:last-child {
      border-bottom: unset;
    }
  }

}
