.multiSelectOption {
    height: 20px;
    padding: 7.5px 0;

    &__checkbox {
        width: 12px;
        height: 12px;

        border: 1px solid #898A98;
        border-radius: 4px;

        &--selected {
            width: 13px;
            height: 13px;
            background: #219FE6;
            border: none;
        }
    }

    &__text {
        margin-left: 11px;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }
}