.error {
  color: #ff233d;
  font-weight: 700;
  margin-top: 6px;
}

.row-assets {
  margin-bottom: 50px;

  .assets-wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: row dense;
    padding: 20px;

    &:before, &:after {
      display: none;
    }

    .asset-block {
      display: flex;
      flex-direction: column;
      background-color: #eeeddd;
      border-radius: 10px;
      padding: 10px 10px 5px;
      align-items: center;
      position: relative;

      .delete-icon {
        display: block;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        border-width: 3px;
        border-style: solid;
        border-color: red;
        border-radius: 100%;

        background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%, white 56%, transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%, white 56%, transparent 56%, transparent 100%);
        background-color: red;
        transition: all 0.3s ease;

        position: absolute;
        top: -8px;
        right: -10px;

        &:hover .delete-tip {
          opacity: 0.8;
        }

        .delete-tip {
          opacity: 0;
          position: absolute;
          padding: 2px 6px;
          color: #888;
          background: #eeefff;
          text-decoration: none;
          text-align: center;
          -webkit-transition: opacity 500ms;
          transition: opacity 500ms;
          top: -22px;
          right: -55px;
          border-radius: 6px;
        }
      }


      .asset-preview {
        max-height: 150px;
        max-width: 200px;
      }

      .badges {
        .badge {
          font-size: 11px;
        }

        margin-top: 5px;

        .badge-category-1 {
          background-color: #0d6efd;
        }

        .badge-category-2 {
          background-color: #198754;
        }

        .badge-category-3 {
          background-color: #dc3545;
        }

        .badge-category-4 {
          background-color: #ffc107;
          color: rgb(33, 37, 41);
        }

        .badge-category-5 {
          background-color: #0dcaf0;
          color: rgb(33, 37, 41);
        }

        .badge-project {
          background-color: rgb(33, 37, 41);
          color: white;
        }
      }
    }
  }
}

