.smartLinksField {
    
    &__name {
        font-family: 'Open Sans';
        font-weight: normal;
        font-size: 11px;
        line-height: 15px;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 5px;
    }
}