<?php
declare(strict_types=1);

use Ufo\Component\Migration\Migration;
use Illuminate\Database\Schema\Blueprint;

final class %s extends Migration
{
    private string $table = 'my_table_name';

    public function up(): void
    {
        $this->schema->create($this->table, function(Blueprint $table) {
            $table->increments('id');

            $table->dateTime('created_at')->nullable();
            $table->dateTime('updated_at')->nullable();

            $table->index('created_at');
        });
    }

    public function down(): void
    {
        $this->schema->dropIfExists($this->table);
    }
}
