@import '../config/variables';

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba($color: $color_black, $alpha: 0)
}


p{
    margin: 0;
}

body{
    font-family: 'Compose-Regular', sans-serif;
    margin: 0;
    background-color: $color_black;
    position: relative;
}

.container{
    width: 100%;
    max-width: 85.62rem;
    padding: 0 0.94rem;
    margin-right: auto;
    margin-left: auto;
    position: unset;
    box-sizing: border-box;

    @media #{$breakpointL} {
        position: relative;
    }

    @media #{$breakpointS} {
        padding: 0 1.87rem;
    }
}

.d-flex{
    display: flex;
    align-items: center;
}

a{
    color: $color_white;
    text-decoration: none;
}

ul, ol, li{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.d-none{
    display: none;
}

.d-s-block{
    @media #{$breakpointS} {
        display: block !important;
    }
}

.d-s-none{
    @media #{$breakpointS} {
        display: none;
    }
}

.d-m-none{
    @media #{$breakpointM} {
        display: none;
    }
}

.d-m-flex{
    @media #{$breakpointM} {
        display: flex !important;
    }
}

.d-xs-none{
    @media #{$breakpointXS} {
        display: none !important;
    }
}

.flex-flow-reverse{
    flex-flow: row-reverse;
}

.relative{
    position: relative;
}

.w-50{
    width: 50%;
}

.content-space-between{
    justify-content: space-between;
}

.color-red{
    color: $color_red !important;
}

.font-400{
    font-weight: 400;
}

.font-700{
    font-weight: 700;
}

.active{
    //color: $color_blue;
}

.h-100{
    height: 100%;
}

.mb-10{
    margin-bottom: 0.62rem;
}

.pr-0{
    padding-right: 0;
}

.bg-margin-left{
    margin-left: 7.5rem;

    @media #{$breakpointM} {
        margin-left: 2rem;
    }
}

.visibility-hidden{
    visibility: hidden;
}

.overflow{
    overflow: hidden;
}

.bg{
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: $color_dark_black;
}

.title{
    color: $color_white;
    font-family: 'Compose-Bold', sans-serif;
    font-weight: 600;
}

.opacity-layer{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: $color-black;
    z-index: 9;
    opacity: 0.7;
}

.body-ru .eng-text {
    display: none!important;
}

.body-en .rus-text {
    display: none!important;
}
