@import '../config/variables';

$_path_font_awesome: '#{$path_fonts}/FontAwesome/webfonts';
$_path_font_Roboto: '#{$path_fonts}/Roboto';
$_path_font_Compose: '#{$path_fonts}/Compose';
// $_path_font_Gotham: '#{$path_fonts}/GothamPro';

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    src: local('Roboto Thin'), url('#{$_path_font_Roboto}/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), url('#{$_path_font_Roboto}/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), url('#{$_path_font_Roboto}/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), url('#{$_path_font_Roboto}/Roboto-Bold.ttf') format('truetype');
}

// @font-face {
//     font-family: 'GothamPro';
//     font-style: normal;
//     font-weight: 400;
//     src: local('GothamPro Regular'), url('#{$_path_font_Gotham}/GothamPro.woff') format('truetype');
// }

// @font-face {
//     font-family: 'GothamPro';
//     font-style: normal;
//     font-weight: 600;
//     src: local('GothamPro Bold'), url('#{$_path_font_Gotham}/GothamPro-Bold.woff') format('truetype');
// }

@font-face {
    font-family: 'Compose-Bold';
    src: local('Compose-Bold'), url('#{$_path_font_Compose}/Compose-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Compose-Regular';
    src: local('Compose-Regular'), url('#{$_path_font_Compose}/Compose-Regular.ttf') format('truetype');
}
