.statisticsPage {
  &__table {
    //margin-top: 16px;
  }

  .table__data {
    max-height: 76vh;
  }

  &__filters {
    .filter {
      margin-bottom: 15px;
      &--Mobile {
        margin-bottom: 0;
      }
    }
  }

  .table {
    .tableRow {
      &:first-child {
        &:after {
          border-color:#E61B4A;
          border-width: 2px;
        }
        .tableCell {
          &:after {
            border-color: #E61B4A;
            border-width: 2px;
          }
        }
      }
    }
  }
}

