.statisticsPage {
  &__table {
    //margin-top: 16px;
  }

  .table__data {
    max-height: 76vh;
  }

  &__filters {
    .filter {
      margin-bottom: 15px;
      &--Mobile {
        margin-bottom: 0;
      }
    }
  }
}

.table {
  &Cell {
    justify-content: center;
  }

  &HeadItem {
    justify-content: center;
  }
}