.error {
  color: #ff233d;
  font-weight: 700;
}

.valid {
  color: #0aba0e;
}

.color__default {
  color: black;
}

.profile__form {
  max-width: 50%;
  margin: 0 auto;
  @media (max-width: 1280px) {
    max-width: unset
  }

  &__avatar-label {
    margin: 10px 0
  }

  &__avatar-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    @media (max-width: 1280px) {
      max-width: 250px;
      margin: 0 auto;
    }

    &__avatar-img {

    }


  }

  &__errorOldPassword {
    display: none;
  }
}