.profileSettingsItem {
  padding: 10px 10px 10px 40px;
  position: relative;
  cursor: pointer;
  display: block;
  text-decoration: none;

  & > p {
    margin: 0;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 22px;
    width: 6px;
    height: 6px;
    background: #FB0045;
  }

  &__title {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }

  &__description {
    font-size: 12px;
    line-height: 17px;
    color: #898A98;
  }
}