.error {
  color: #ff233d;
  font-weight: 700;
}

.valid {
  color: #0aba0e;
}

.color__default {
  color: black;
}

.profile__form {
  max-width: 50%;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .profile__form {
    max-width: unset;
  }
}
.profile__form__avatar-label {
  margin: 10px 0;
}
.profile__form__avatar-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}
@media (max-width: 1280px) {
  .profile__form__avatar-wrapper {
    max-width: 250px;
    margin: 0 auto;
  }
}
.profile__form__errorOldPassword {
  display: none;
}

.assets-wrapper {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: row dense;
  padding: 20px;
}
.assets-wrapper:before, .assets-wrapper:after {
  display: none;
}
.assets-wrapper .asset-block {
  display: flex;
  flex-direction: column;
  background-color: #eeedff;
  border-radius: 10px;
  padding: 10px 10px 5px;
  align-items: center;
  position: relative;
}
.assets-wrapper .asset-block .tooltip {
  position: absolute;
  width: 120px;
  background-color: #00a65a;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: -36px;
  font-size: 14px;
  opacity: initial;
  display: none;
}
.assets-wrapper .asset-block .asset-preview {
  max-height: 150px;
  max-width: 200px;
  cursor: pointer;
}
.assets-wrapper .asset-block .badges {
  margin-top: 5px;
}
.assets-wrapper .asset-block .badges .badge {
  font-size: 11px;
}
.assets-wrapper .asset-block .badges .badge-category-1 {
  background-color: #0d6efd;
}
.assets-wrapper .asset-block .badges .badge-category-2 {
  background-color: #198754;
}
.assets-wrapper .asset-block .badges .badge-category-3 {
  background-color: #dc3545;
}
.assets-wrapper .asset-block .badges .badge-category-4 {
  background-color: #ffc107;
  color: #212529;
}
.assets-wrapper .asset-block .badges .badge-category-5 {
  background-color: #0dcaf0;
  color: #212529;
}