.support_index {
  width: 5%;
  text-align: center;
}

.name {
  width: 15%;
  word-break: break-all;
}

.img-wrapper {
  width: 30%;
  text-align: center;
}
.img-wrapper__image {
  width: 100%;
}

.error {
  color: #e0292d;
}

.supportInfo__lte__form__id {
  display: flex;
}
.supportInfo__lte__form__id > label {
  margin-right: 20px;
}
.supportInfo__lte__wrapperImg {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.supportInfo__lte__wrapperImg__label {
  text-align: center;
}
.supportInfo__lte__wrapperImg__img {
  object-fit: contain;
  margin: 10px auto;
  height: 100%;
  max-height: 400px;
}
@media (max-width: 768px) {
  .supportInfo__lte__wrapperImg__img {
    max-height: 200px;
  }
}