.selectInput {
    background: #2D313D;
    padding-right: 9px;

    &__input {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__select {
        left: 0;
    }
}