.creativesCard {
  height: 320px;
  width: 262px;
  background-color: #131826;

  &__logo {
    height: 270px;
    overflow: hidden;
    cursor: pointer;


    & > * {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__footer {
    height: 50px;
    padding: 13px 10px;
    background-color: #000000;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Buttons {
      display: flex;

    }
  }

  &__category {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 25px;
    background-color: #2F3440;
    border-radius: 4px;
    color: #FFFFFF;
  }

  &__more {
    margin-left: 29px;
    cursor: pointer;
  }

  &__download {
    cursor: pointer;
    margin-left: 18px;
  }

  &--isMobile {
    width: 100%;

    height: unset;

    .creativesCard {

      &__logo {
        max-height: 400px;
        height: 100%;
      }
    }
  }
}