.creativesOffer {
    height: 380px;
    width: 262px;
    transition: .3s all ease;
    background: #131826;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media (max-width: 480px) {
        width: 100%;
    }

    &__logo {
        width: 100%;
        height: 168px;
        background-color: #104165;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        & > * {
            height: auto;
            width: 100%;
        }
    }

    &__info {
        padding: 15px 15px 27px 15px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;

        color: #FFFFFF;
    }

    &__link {
        margin-top: 8px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        display: block;
        text-decoration: none;
        color: #219FE6;
    }

    &__description {
        margin-top: 14px;
        text-align: left;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        max-height: 54px;
        overflow: hidden;
        color: #898A98;
    }

    &__more {
        margin-top: 15px;
        width: 100%;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s all ease;
        border: 1px solid #219FE6;
        box-sizing: border-box;
        border-radius: 4px;

        a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s all ease;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            color: #219FE6;;
            text-decoration: none;
        }
    }

    &:hover {
        box-shadow: 0 0 56px rgba(39, 107, 146, 0.5);
        transition: .3s all ease;
        .creativesOffer {
            &__more {
                a {
                    transition: .3s all ease;
                    color: #FFFFFF;
                    background-color: #219FE5;
                }
            }
        }
    }
}
