@import '../config/variables';
@import '../common/mixins';

.header_blocks {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: center;
	user-select: none;

	.menu {
		height: $header_height;
		line-height: $header_height;
		font-size: 1.6rem;
		text-align: right;

		@media #{$breakpointXS} {
			height: $header_height_mobile;
			line-height: $header_height_mobile;
		}

		.header_button {
			display: inline-block;
			background: $color_brand_blue_light;
			border-radius: 1rem;
			padding: 0 2rem;
			line-height: 3rem;
			margin-left: 1rem;

			@media #{$breakpointXS} {
				font-size: 1.3rem;
				padding: 0 0.7rem;
				text-align: center;
				margin-left: 0.2rem;

				&.hide_icon i {
					display: none;
				}
			}

			&.login {
				background: transparent;
			}

			&:hover {
				background: lighten($color_brand_blue_light, 5%);
			}

			&.green {
				background: $color_brand_green_dark;

				&:hover {
					background: lighten($color_brand_green_dark, 5%);
				}
			}
		}

		//.language_button {
		//	margin-right: 1rem;
		//	opacity: 0.7;
		//}

		.language_dropdown {
			width: 6rem;
			position: relative;
			display: inline-block;
			text-align: center;
			text-transform: uppercase;
			cursor: pointer;

			@media #{$breakpointXS} {
				width: 5rem;
				font-size: 1.4rem;
			}

			&:before {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4px 8px 4px 0;
				border-color: transparent $color_white transparent transparent;
				display: inline-block;
				vertical-align: middle;
				position: absolute;
				bottom: 3.5rem;
				right: 0.5rem;
				transform: rotate(-90deg);
				//margin-right: 5px;

				@media #{$breakpointXS} {
					bottom: 2.5rem;
					//display: none;
				}
			}

			&_content {
				display: none;
				position: absolute;
				background: rgba(#01013F, 1);
				line-height: 4rem;
				left: 0;
				right: 0;
				z-index: 2;

				a {
					display: block;
					width: 100%;
				}
			}

			&.open {
				//background: rgba($color_black, 0.2);
				background: $color_brand_blue_dark;

				.language_dropdown_content {
					display: block;
					background: $color_brand_blue_dark;

					a {
						&:hover, &:active {
							background: $color_brand_blue_light;
						}
					}
				}
			}
		}

		.menu_link {
			margin: 0 1rem 0 0;
			text-transform: uppercase;
			font-size: 1.6rem;

			&:hover {
				color: $color_brand_orange_light
			}

			@media #{$breakpointS} {
				display: none;
			}
		}

		&.pages {

			color: $color_white;

			.header_burger {
				display: none;

				font-size: 2rem;
				padding: 0 0 0 1.5rem;
				background: transparent;

				i {
					display: inline-block;
				}

				@media #{$breakpointS} {
					display: inline-block;
				}
			}

			.menu_link {
				color: $color_white;

				&:hover {
					color: $color_brand_orange_light;
				}
			}

			.header_button {
				color: $color_white;
				//background: $color_brand_blue_dark;

				&.desktop {
					@media #{$breakpointS} {
						display: none;
					}
				}

				&:hover {
					//background: darken($color_brand_blue_dark, 5%);
				}
			}

			.language_dropdown {
				a {
					color: $color_white;
				}

			}
		}

	}

	.logo {
		display: block;
		width: 18rem;
		height: $header_height;
		background: url("/assets/img/logo.svg") no-repeat center;
		background-size: contain;

		@media #{$breakpointM} {
			width: 16rem;
		}

		@media #{$breakpointXS} {
			width: 10rem;
			height: $header_height_mobile;
		}
	}
}

.layout_background {
	color: $color_white;
	background: /*linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.5)),*/
	url('/assets/img/background.jpg') no-repeat center;
	background-size: cover;
	position: relative;

	min-height: 75rem;

	a {
		color: $color_white;
	}

	@media #{$breakpointS} {
		//margin-bottom: $spacing_medium;
		min-height: initial;
		padding-bottom: 4rem;
	}

	@media #{$breakpointXS} {
		padding-bottom: 2rem;
	}

	.header_top {

		background: rgba(#01072d, 0.9);
		height: $header_height;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		z-index: 5;
		box-shadow: 0 0 0.5rem rgba(#01072d, 0.9);

		@media #{$breakpointXS} {
			height: $header_height_mobile;
		}
	}

	.title_wrapper {

		padding: $header_height 2rem 0 2rem;

		.main_title {
			width: 100%;
			font-size: 5rem;
			font-weight: 600;
			user-select: none;
			text-transform: uppercase;
			margin: $spacing_big 0 0 0;
			text-align: center;

			span {
				color: $color_brand_blue_light;
			}

			@media #{$breakpointS} {
				font-size: 4rem;
				margin-top: 2rem;
			}

			@media #{$breakpointXS} {
				font-size: 2.2rem;
				width: 100%;
			}
		}

		.sub_title {
			width: 70%;
			margin: 0 auto;
			font-size: 1.8rem;
			line-height: 3rem;
			font-weight: 300;
			//margin-top: $spacing_small;
			//color: #FFA000;
			user-select: none;
			text-align: center;
			//font-style: italic;
			margin-top: 1rem;
			//text-transform: lowercase;
			opacity: 0.9;
			//letter-spacing: 0.3rem;

			@media #{$breakpointS} {
				width: 90%;
				font-size: 1.6rem;
			}

			@media #{$breakpointXS} {
				font-size: 1.4rem;
				line-height: 2rem;
				//margin-top: 0;
			}

			///* standard gradient background */
			//background: linear-gradient(#FFE414, #FFA000);
			//
			///* clip hackery */
			//-webkit-background-clip: text;
			//-webkit-text-fill-color: transparent;

			//span {
			//	font-size: 5rem;
			//	//text-decoration: underline;
			//
			//	@media #{$breakpointXS} {
			//		font-size: 3rem;
			//	}
			//}
		}

		.button_start_earn {
			width: 34rem;
			margin-top: 6rem;
			font-size: 2.2rem;
			line-height: 3rem;
			height: auto;
			text-transform: uppercase;
			font-weight: 600;
			//box-shadow: 0 0 3rem rgba($color_brand_green_light, 0.6);
			transition: 0.2s;
			padding: 1rem 0;
			border-radius: 0.5rem;
			user-select: none;
			letter-spacing: 2px;
			border-bottom: 4px solid darken($color_brand_green_dark, 10%);

			.subtext {
				font-size: 1.5rem;
				text-transform: uppercase;
				color: rgba($color_black, 0.5);
				font-weight: 600;
				letter-spacing: initial;
			}

			&:hover, &.active {
				box-shadow: 0 0 5rem rgba($color_brand_green_light, 0.7);
			}

			@media #{$breakpointXS} {
				width: 28rem;
				font-size: 2rem;
				margin-top: 3rem;
				padding: 0.5rem 0;

				.subtext {
					font-size: 1.4rem;
				}
			}
		}
	}

	.project_features {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		text-align: center;
		margin-top: $spacing_big;
		cursor: default;
		user-select: none;
		padding-bottom: 5rem;

		@media #{$breakpointS} {
			flex-wrap: wrap;
			margin-top: 5rem;
			padding-bottom: 0;
		}

		@media #{$breakpointXS} {
			margin-top: 3rem;
		}

		.feature {

			visibility: hidden;

			@media #{$breakpointS} {
				width: 50%;
				margin-bottom: $spacing_small;
			}

			//@media #{$breakpointXS} {
			//	width: 100%;
			//}

			.image_wrapper {
				width: 18rem;
				height: 21.24rem;
				overflow: hidden;
				transition: 0.3s;
				margin: 0 auto;

				background-repeat: no-repeat;
				background-position: center;
				background-image: url(/assets/img/home/feature_bg.png);
				background-size: contain;

				display: flex;
				justify-content: center;
				align-items: center;
				padding-bottom: 15%;
				font-size: 3.5rem;
				font-weight: 600;

				@media #{$breakpointS} {
					font-size: 2rem;
					width: 12rem;
					height: 14.16rem;
					padding-bottom: 3%;
				}

				@media #{$breakpointXS} {
					padding-bottom: 10%;
				//	font-size: 3.5rem;
				//	padding-bottom: 8%;
				//	width: 18rem;
				//	height: 21.24rem;
				}
			}

			.title {
				font-size: 6rem;
				font-weight: 400;
				color: $color_brand_green_dark;

				@media #{$breakpointS} {
					font-size: 4rem;
				}
			}

			.subtitle {
				font-size: 1.9rem;
				font-weight: 400;
				line-height: 4rem;

				@media #{$breakpointS} {
					font-size: 1.8rem;
				}

				@media #{$breakpointXS} {
					font-size: 1.2rem;
					line-height: 2rem;
				}
			}

			.tip {
				color: rgba($color_white, 0.8);
				font-size: 1.3rem;
				text-transform: uppercase;

				@media #{$breakpointS} {
					font-size: 1.2rem;
				}

				@media #{$breakpointXS} {
					font-size: 1rem;
				}
			}
		}
	}

	.heading_default {
		visibility: hidden;
	}
}

.block_default {
	//display: flex;
	//border: 1px solid red;
	border-radius: 1rem;
	box-shadow: $shadow_default;
	background: $color_white;
	margin-bottom: 2rem;

	@media #{$breakpointXS} {
		box-shadow: none;
		border: 2px solid darken($color_brand_lightblue_bg, 3%);
		margin-bottom: 1rem;
	}

	.block_inner {
		padding: 2rem;
	}

	&.fullwidth {
		width: 100%;
	}

	&.widget {
		width: 32%;
		text-align: center;

		@media #{$breakpointXS} {
			width: 100%;
			padding: 2rem 0;
		}

		.header {
			color: $color_black;
			border-bottom: 2px solid $color_light_grey;
			text-transform: uppercase;
			font-size: 1.8rem;
			//font-weight: 600;
			line-height: 5rem;

			@media #{$breakpointXS} {
				font-weight: 400;
				font-size: 1.5rem;
				border-bottom: none;
				line-height: initial;
				margin-bottom: 1rem;
			}
		}

		.count {
			color: $color_brand_blue_dark;
			font-weight: 400;
			font-size: 2.6rem;
			line-height: 10rem;

			&.large {
				font-size: 4rem;

				i {
					font-size: 4.2rem;
				}
			}

			@media #{$breakpointXS} {
				line-height: initial;
			}
		}
	}

	.text {
		padding: 2rem;
	}

	.block_header_items {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
		justify-content: space-around;
		align-items: center;
		border-bottom: 3px solid $color_light_grey;
		padding: 2rem;
		height: 10rem;

		@media #{$breakpointXS} {
			padding: 1rem;
			height: auto;
		}

		.item {
			width: 50%;
			color: $color_dark_grey;
			font-size: 2.2rem;
			font-weight: 400;
			//line-height: 8rem;
			border-right: 2px solid $color_light_grey;
			text-align: center;

			.tip {
				font-size: 1.5rem;
				text-transform: uppercase;
			}

			@media #{$breakpointXS} {
				font-size: 1.2rem;

				.tip {
					display: none;
				}
			}

			.green {
				color: $color_brand_green_dark;
			}

			.orange {
				color: $color_brand_orange_dark;
			}

			.success {
				color: $color_brand_green_dark;
			}

			.error {
				color: $color_fail;
			}

			.waiting {
				color: $color_brand_orange_dark;
			}

			&:last-child {
				border-right: 0;
			}
		}


	}
}

.block_faq {
	border-radius: 3rem;
	box-shadow: $shadow_default;
	background: $color_white;
	margin-bottom: 2rem;

	@media #{$breakpointXS} {
		//border-radius: 2rem;
		//box-shadow: none;
		margin-bottom: 1rem;
	}
}

.widgets_wrapper {
	display: flex;
	justify-content: space-between;

	@media #{$breakpointXS} {
		flex-wrap: wrap;
	}
}

.info_line {

	padding: 1rem;
	text-align: center;
	background: $color_light_grey;
	font-weight: 300;

	i {
		display: block;
		width: 100%;
		font-size: 3rem;
		margin-top: 1rem;
	}

	p {
		text-align: center;
	}

	&.warning {
		color: $color_brand_orange_dark;
		background: lighten($color_brand_orange_light, 45%);
	}

	&.error {
		color: $color_fail;
		background: lighten($color_fail, 45%);
	}

	&.success {
		color: $color_brand_green_dark;
		background: lighten($color_brand_green_light, 45%);
	}

	&.rounded {
		border-radius: 1rem;
	}
}