.faq {

	//padding-bottom: $spacing_small;

	.button_more {
		margin-top: $spacing_medium;
	}

	.button_start_earn {
		width: initial;
		max-width: 28rem;
		margin: 2rem auto 1rem auto;

		@media #{$breakpointXS} {
			//width: 100%;
		}

		&.margin-bottom {
			margin-bottom: $spacing_medium;
		}
	}

	.block {

		//border-bottom: 1px solid $color_brand_blue_light;
		cursor: pointer;
		position: relative;
		padding: 1rem 3rem;

		&:before {
			position: absolute;
			//border: solid $color_brand_blue_light;
			//border-width: 0 0.5rem 0.5rem 0;
			display: inline-block;
			//padding: 5px;
			//transform: rotate(45deg);
			right: 3rem;
			top: 0.5rem;
			transition: 0.3s;
			font-size: 5rem;
			content: '+';
			color: $color_brand_blue_light;
			text-align: center;
			width: 4rem;

			@media #{$breakpointS} {

				font-size: 2.5rem;
				right: 1rem;
				top: 1.5rem;
			}
		}

		@media #{$breakpointS} {
			//margin: 0 2rem;
			padding: 1rem 2rem;
		}

		.title {
			font-size: 2.5rem;
			//line-height: 6.5rem;
			user-select: none;
			padding: 1rem 2rem 1rem 0;

			@media #{$breakpointS} {
				font-size: 1.6rem;
				//line-height: 4rem;
			}
		}

		.text {
			display: none;
			overflow: hidden;
			padding: 1rem 0 0 0;
			text-align: justify;

			//p {
				font-size: 1.8rem;

				@media #{$breakpointS} {
					font-size: 1.6rem;
				}
			//}

			//background: $color_brand_blue;
		}

		&.open {

			&:before {
				//color: $color_brand_orange_light;
				content: '–';
				//transform: rotate(225deg);
			}

			.title {
				//font-weight: 600;
				border-bottom: 1px solid $color_light_grey;
			}
		}
	}
}