@import '../config/variables';
@import '../common/mixins';

.footer_wrapper {

	$footer_height: 16rem;
	padding: $spacing_medium 1rem;
	background: linear-gradient(to bottom, $color_brand_darkblue_light, $color_brand_darkblue_dark);

	@media #{$breakpointXS} {
		padding: $spacing_small 1rem $spacing_big 1rem;
	}

	color: $color_white;

	//margin-top: 5rem;
	//min-height: $footer_height;
	//height: $footer_height;

		//.logo {
		//	display: block;
		//	width: 12rem;
		//	height: 16rem;
		//	background: url("/assets/img/logo.svg") no-repeat center;
		//	background-size: contain;
		//}

		//.link {
		//	font-size: 2.2rem;
		//	font-weight: 400;
		//	line-height: $footer_height;
		//}

		//.button_wrapper {
		//	display: flex;
		//	align-items: center;
		//	//height: $footer_height/2;
		//	flex-flow: row nowrap;
		//	//border: 2px solid $color_brand_green_dark;
		//	border-radius: 3rem;
		//	//padding: 1rem;
		//
		//	@media #{$breakpointS} {
		//		width: 40%;
		//		flex-flow: row wrap;
		//		justify-content: center;
		//	}
		//
		//	@media #{$breakpointXS} {
		//		width: 100%;
		//		order: 1;
		//	}
		//
		//	.text {
		//		margin-right: 2rem;
		//
		//		@media #{$breakpointS} {
		//			//width: 100%;
		//			text-align: center;
		//			margin-bottom: 2rem;
		//		}
		//	}
		//
		//	.button {
		//		color: $color_white;
		//		background: linear-gradient($color_brand_green_light, $color_brand_green_dark);
		//		text-align: center;
		//		border-radius: 3rem;
		//		font-size: 2rem;
		//		font-weight: 400;
		//		text-transform: uppercase;
		//		padding: 1rem 2rem;
		//
		//		&:hover {
		//			background: linear-gradient($color_brand_green_light, $color_brand_green_dark)
		//		}
		//	}
		//}

		.columns {

			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;

			@media #{$breakpointXS} {
				flex-flow: row wrap;
			}

			.column {

				&.logo {
					@media #{$breakpointXS} {
						display: none;
					}
				}

				@media #{$breakpointXS} {
					width: 100%;
					order: 2;
					margin-top: $spacing_small;
					//text-align: center;
				}

				.group_name {
					//text-transform: uppercase;
					font-size: 2rem;
					font-weight: 400;
					margin-bottom: $spacing_small;

					i {
						opacity: 0.5;
					}

					@media #{$breakpointXS} {
						font-size: 2.5rem;
						text-transform: none;
					}
				}

				.link {
					a {
						color: $color_white;
						font-size: 1.6rem;
						line-height: 2.4rem;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

	.security_logos {
		display: flex;
		flex-flow: row wrap;
		width: 25%;

		@media #{$breakpointM} {
			//width: 14rem;
		}

		@media #{$breakpointXS} {
			width: 100%;
			order: 3;
			margin-top: $spacing_medium;
			justify-content: center;
		}

		img {

			height: 4rem;
			margin: 0 0.2rem;

			//@media #{$breakpointM} {
			//	width: 12rem;
			//	height: auto;
			//}
			//
			//@media #{$breakpointXS} {
			//	width: 10rem;
			//	height: auto;
			//}
		}
	}

	.copyright {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		border-top: 1px solid rgba($color_light_grey, 0.3);
		margin-top: $spacing_small;
		color: rgba($color_white, 0.5);
		font-size: 1.4rem;
		padding-top: $spacing_small;

		@media #{$breakpointS} {
			flex-flow: row wrap;
			text-align: center;

			.left {
				width: 100%;
				order: 2;
			}

			.right {
				width: 100%;
				order: 1;
				margin-bottom: $spacing_small;
			}
		}
	}

	.footer_logo {
		display: block;
		width: 16rem;
		height: 8rem;
		background: url("/assets/img/logo_vertical.svg") no-repeat center;
		background-size: contain;

		@media #{$breakpointS} {
			width: 13rem;
			height: 6.5rem;
		}

		//@media #{$breakpointXS} {
		//	height: $header_height_mobile;
		//}
	}

}