@import '../config/variables';
@import '../common/mixins';

.form-group{
  width: 50%;
  position: relative;
  padding: 0 1.875rem;
  margin-bottom: 2.75rem;
  box-sizing: border-box;

  &.w-100{
    width: 100%;
  }


    input.error{
      border-bottom: 1px solid $color_red;
    }


  input{
    width: 100%;
    display: block;
    height: 3.125rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid $color_white;
    transition: all .3s ease;
    padding: 0 1rem;
    color: $color_white;
    box-sizing: border-box;

    &:focus{
      outline: none
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      border: none;
      border-bottom: 1px solid $color_white;
      -webkit-text-fill-color: $color_white;
      -webkit-box-shadow: 0 0 0 62.5rem $color_dark_black inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }

  img{
    top: 1.25rem;
    right: 3.125rem;
    position: absolute;
    cursor: pointer;
  }

  div.labelForm{
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 0.813rem;
    left: 2.125rem;
    padding: 0 0.625rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1rem;
    letter-spacing: -0.02em;
    color: $color_white;
    transition: all .3s ease
  }

  input:focus{
     ~ div.labelForm{
      font-size: 0.75rem;
      top: -0.313rem
    }
  }


  input:valid{
    ~ div.labelForm{
      font-size: 0.75rem;
      top: -0.313rem
    }
  }

  @media #{$breakpointXS} {
    width: 100%;
    padding: unset;
    margin-bottom: 1.625rem;

    input{
      height: 2.5rem;
    }

    div.labelForm{
      left: 0.313rem;
      font-size: 1rem;
      line-height: 0.875rem;
    }

    img{
      right: 1rem;
      top: 1rem;
    }
  }
  span.invalidFormValue {
    position: absolute;
    top: 0;
  }
  label.error {
    position: absolute;
    top: -20px;
    right: 27px;
    background: #870322;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 11px;
    &::after {
      content: '';
      position: absolute;
      left: 20%; bottom: -20px;
      border: 10px solid transparent;
      border-top: 10px solid #870322;
    }
  }

}
.error-label {
  color: #af1818;
  margin-right: 15px;
}
.form__error-wrapper {
  display: flex;
  justify-content: space-between;
}