@import '../config/variables';
@import '../common/mixins';

header{
  position: absolute;
  width: 100%;
  z-index: 3;

  .header-block{
    padding-top: 4.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      display: flex;
    }

    .lang{
      height: 3rem;
      border-left: 1px solid gray;
      margin-left: 2.125rem;
      padding-left: 2.75rem;
      color: $color_white;
      display: flex;
      align-items: center;
      font-size: 1.125rem;
      cursor: pointer;
      position: relative;
      z-index: 501;
      &:hover{
        .lang-select{
          display: block;
        }
      }

      .carret{
        margin-top: 0.3rem;
        margin-left: 0.5rem;
      }

      .lang-select{
        position: absolute;
        top: 2.5rem;
        left: 0.875rem;
        padding: 1rem 0.5rem;
        background-color: $color_lang_bg;
        border-radius: 1.25rem;
        text-align: center;
        font-size: 18px;
        display: none;

        .lng-item{
          padding: 0.325rem 1.5rem;

          &.active, &:hover{
            background-color: $color_blue;
            border-radius: 0.5rem;
          }
        }
      }

      @media #{$breakpointM} {
        margin-left: 1.5rem;
        padding-left: 1.5rem;
      }
    }

    nav{
      color: $color_white;
      line-height: 0.875rem;
      font-size: 1.125rem;
      font-family: 'Roboto', sans-serif;
      height: 2.75rem;

      .main-nav{
        width: 32.5rem;
        justify-content: space-between;
      }

      li{
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;

        .active-line{
          left: 0;
          width: 0;
          transition: width 1s;
        }

        &:hover{
          .active-line{
            width: 100%;
          }
        }
      }
    }

    @media #{$breakpointM} {
      padding-top: 2.625rem;

      .logo{
        img{
          height: 2.125rem;
        }
      }
    }
  }

  .active-line{
    border-bottom: 1px solid $color_blue;
    width: 100%;
    max-width: 13.25rem;
    position: absolute;
    right: 0;
    bottom: -1.438rem;

    @media #{$breakpointL} {
      //right: -3.125rem;
      max-width: 12.625rem;
    }

    @media #{$breakpointM} {
      max-width: 10.5rem;
    }
  }

  .hamburger{
    display: none;
    padding-right: 0;

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
      background-color: $color_white !important;
      content: "";
      display: block;
    }
  }

  .mob-site-nav{
    left: 100%;
    transition: all .5s;
    position: fixed;
    top: 6.125rem;
    bottom: 0;
    right: -100%;
    overflow-y: auto;
    z-index: 500;
    padding: 0 1.875rem;

    nav{
      margin-top: 25%;

      ul{
        padding-bottom: 1.875rem;
      }

      .menu-item{
        font-size: 2.375rem;
        font-weight: 300;
        line-height: 3.25rem;
        letter-spacing: -0.01em;
        margin-bottom: 0.625rem;
      }

      .sing-block{
        li{
          border-top: 1px solid $color_white;
          font-weight: 700;
          padding-top: 0.625rem;
        }
      }
    }

    &.active{
      display: block;
      left: 0;
      right: 0;
    }
  }
}