@import '../config/variables';
@import '../common/mixins';

.page_menu_wrapper {
	background: #191f41;
	height: $header_height;
	position: relative;
	z-index: 10;
	padding: 0 2rem;

	@media #{$breakpointXS} {
		height: $header_height_mobile;
		padding: 0;

		.lobby_menu_wrapper {
			padding: 0 1rem;
		}
	}
}