@import '../config/variables';
@import '../common/mixins';

.lobby_wrapper {
	background: $color_brand_lightblue_bg;
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;

	.lobby_content_wrapper {
		width: calc(100% - #{$lobby_sidemenu_width});
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: hidden;

		@media #{$breakpointS} {
			width: 100%;
			margin: 0 1rem;
		}

		.lobby_content {
			width: 100%;
			height: 100%;
			overflow-x: hidden;
			min-height: 0;
			overflow-y: scroll;

			.lobby_footer {
				height: $spacing_big;
			}
		}
	}

	.lobby_sidemenu {
		//position: fixed;
		//left: 0;
		width: calc(#{$lobby_sidemenu_width}); // offset
		background: $color_white;
		//height: 100%;
		box-shadow: 0 0 1rem $box_shadow_color;
		padding-top: $spacing_medium;
		display: flex;
		flex-flow: column;
		justify-content: space-between;
		z-index: 10;

		.menu_list {

			display: flex;
			flex-flow: row wrap;

			.menu_button {
				display: block;
				font-size: 1.8rem;
				width: 100%;
				line-height: 5rem;
				padding-left: 6rem;
				color: $color_black;
				font-weight: 400;
				position: relative;

			  &.signout {
				  color: $color_dark_grey;
				  margin-top: 2rem;
			  }

				&.warning {
					background: lighten($color_fail, 45%);
				}

				&:after {
					position: absolute;
					content: '';
					left: 2rem;
					top: 0;
					width: 3rem;
					height: 100%;
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
				}

				&.miners {
					&:after {
						background-image: url('/assets/img/lobby/icon_miners.svg');
					}
				}

				&.statistics {
					&:after {
						background-image: url('/assets/img/lobby/icon_statistics.svg');
					}
				}

				&.referrals {
					&:after {
						background-image: url('/assets/img/lobby/icon_referrals.svg');
					}
				}

				&.wallet {
					&:after {
						background-image: url('/assets/img/lobby/icon_wallet.svg');
					}
				}

				&.account {
					&:after {
						background-image: url('/assets/img/lobby/icon_account.svg');
					}
				}

				&.signout {
					&:after {
						background-image: url('/assets/img/lobby/icon_signout.svg');
					}
				}

				&.warning {
					&.account:after {
						background-image: url('/assets/img/lobby/icon_account_warning.svg');
					}
				}

				&.active, &:hover {
					border-right: 3px solid $color_brand_blue_dark;
					background: $color_brand_lightblue_bg;
				}
			}
		}

		@media #{$breakpointS} {
			position: fixed;
		  	right: 0;
		  	top: $header_height;
		  	bottom: 0;
		  	opacity: 0;
		  	left: 100%;
		  	display: none;
		}

		@media #{$breakpointXS} {
			top: $header_height_mobile;
		}

		&.show_menu {
			display: flex;
			width: auto;
		}

		.menu_footer {
			font-size: 1.6rem;
			padding: $spacing_small;
			text-align: center;
			color: $color_dark_grey;
		}
	}

	.container {
		//border: 1px solid red;
	}
}