@import '../config/variables';
@import '../common/mixins';

.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;

    .modal-backdrop{
        position: fixed;
        top: 0;
        left: 0;
        opacity: .7;
        z-index: 1040;
        width: 100vw;
        height: 100vh;
        background: $color_black;
    }

    .modal-dialog{
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        z-index: inherit;

        .modal-content{
            width: 100%;
            position: relative;
            margin: auto;
            background: linear-gradient(131.35deg, $color_modal_bg -69.9%, $color_bg 94.03%);
            z-index: inherit;
            border-radius: 1rem;

            &.large-modal{
                max-width: 60.625rem;
            }

            &.small-modal{
                max-width: 43.125rem;
            }

            .modal-header{
                padding: 2.875rem 4rem 0 4rem;
                display: flex;
                justify-content: flex-end;

                .btn-close{
                    cursor: pointer;
                    margin-bottom: 0.25rem;
                }
            }

            .modal-body{
                padding: 0 6.25rem 2.875rem 6.25rem;

                .block{
                    justify-content: center;
                    align-items: unset;
                    margin-top: 3.125rem;

                    .modal-title{
                        margin-bottom: 0;
                        margin-left: 4rem;
                    }

                    .modal-subtitle{
                        color: $color_white;
                        margin-left: 4rem;
                        font-size: 1.625rem;
                        font-weight: 400;
                        line-height: 2.25rem;
                        margin-top: 2.125rem;
                        margin-bottom: 5rem;
                    }
                }

                .modal-title{
                    font-size: 4.75rem;
                    line-height: 3.625rem;
                    font-weight: 600;
                    letter-spacing: -0.01em;
                    color: $color_white;
                    margin-bottom: 3.125rem;
                    margin-left: 1.5rem;

                    &.small{
                        font-size: 2.875rem;
                        line-height: 2.5rem;
                    }
                }
                
                .caption{
                    font-size: 0.75rem;
                    font-weight: 300;
                    line-height: 0.625rem;
                    letter-spacing: -0.02em;
                    color: $color_dark_gray;
                    margin-left: 1.975rem;

                    &.sub-caption{
                        font-size: 1rem;
                        margin-top: 2.5rem;
                        color: $color_mid_gray;
                        margin-left: 0;
                    }

                    .term{
                        color: $color_social;
                        text-decoration: underline;
                    }
                }

                .sign-center-block{
                    margin-top: 2rem;

                    .title{
                        font-size: 1.375rem;
                        line-height: 1.375rem;
                        letter-spacing: -0.02em;
                        margin-right: 3.875rem;
                        transition: margin-right 1s;
                    }

                    &:hover{
                        .title{
                            margin-right: 4.5rem;
                        }
                    }
                }

                .border-green{
                    padding-top: 3.375rem;

                    .title{
                        margin: 0;
                    }
                }

                .border-red{
                    padding-top: 3.375rem;

                    img{
                        transform: rotate(180deg);
                    }

                    .title{
                        margin: 0 0 0 3rem;
                    }
                }
            }

            .form-block{
                display: flex;
                flex-flow: wrap;
                margin-right: -0.875rem;
                margin-left: -0.875rem;
                box-sizing: border-box;

                .form-group{
                    margin-bottom: 2.5rem;

                    &:nth-last-child(-n+2){
                        margin-bottom: 1.875rem;
                    }
                }
            }
        }
    }

    @media #{$breakpointXS} {
        overflow: auto;

        .modal-dialog{
            min-height: 100%;
            height: auto;

            .modal-content{
                margin: unset;
                border-radius: unset;

                .modal-header{
                    padding: 2.875rem 2.5rem 0 2.5rem;
                }

                .modal-body{
                    padding: 0 2.5rem 2.5rem 2.5rem;

                    .modal-title{
                        margin-left: 0;
                        font-size: 4rem;
                    }

                    .caption{
                        margin-left: 0;
                    }

                    .block{
                        display: block;

                        img{
                            display: flex;
                            margin: 0 auto 1.25rem auto;
                        }

                        .modal-title,
                        .modal-subtitle{
                            margin-left: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}