$path_img: '/assets/img';
$path_icons: '/assets/img/icons';
$path_fonts: '/assets/fonts';

$inner_size_default: 1200px;

$header_height_mobile: 6rem;

$spacing_small: 2rem;
$spacing_medium: 4rem;
$spacing_big: 8rem;
$spacing_superbig: 10rem;

$border_height_default: 1px;

$lobby_sidemenu_width: 24rem;
$header_height: 8rem;

// home breakpoints

$breakpointXXS: 'only screen and (max-width: 370px)'; // mobile layout (width: 320px - 320px)
$breakpointXS: 'only screen and (max-width: 767px)'; // mobile layout (width: 370px - 767px)
$breakpointS: 'only screen and (max-width: 991px)';  // tablet layout
$breakpointM: 'only screen and (max-width: 1210px)'; // small desktop
$breakpointL: 'only screen and (min-width: 1400px) and (min-height: 800px)'; // large desktop
$breakpointXL: 'only screen and (min-width: 2700px)'; // small desktop


// colors

$color_brand_grey: #2D2926;
$color_brand_blue_dark: #0165C2;
$color_brand_blue_light: #027CEF;

$color_brand_darkblue_light: #064196;
$color_brand_darkblue_dark: #01013F;

$color_brand_lightblue_bg: #F5FAFF;
$color_brand_blue_bg: #E3F1FF;

$color_dark_grey: #808080;
$color_light_grey: #F6F6F6;

$color_white: #FFFFFF;
$color_black: #111111;
$color_text_default: #111111;

$color_brand_green_light: #7FE117;
$color_brand_green_dark: #48BF0A;

$color_brand_orange_light: #FF9700;
$color_brand_orange_dark: #FF5E00;

$form_input_height: 4rem;
$form_input_height_mobile: 4rem;

$border_radius_default: 1rem;
$color_link_color: $color_brand_blue_dark;

$color_fail: red;

$box_shadow_color: rgba(#01013F, 0.07);
$shadow_default: 0 0 3rem $box_shadow_color;


$color_black:           #1E1E1E;
$color_dark_black:      #000000;
$color_affiliate_bg:    #282828;
$color_white:           #ffffff;
$color_blue:            #49B3FF;
$color_gray:            #878787;
$color_light_gray:      #B0B0B0;
$color_dark_gray:       #7A7A7A;
$color_mid_gray:        #738DA4;
$color_bitter_gray:     #CDD7E3;
$color_border:          #30363A;
$color_social:          #A3A6C5;
$color_red:             #E61B4A;
$color_nr:              #373737;
$color_bg:              #121317;
$color_blue_light:      #1BA9E6;
$color_mid_blue:        #219FE5;
$color_blue_dark:       #1B85E6;
$color_card_bg:         #3A7B89;
$color_green:           #2ECB76;
$color_modal_bg:        #054064;
$color_gold:            #F3933A;
$color_silver:          #C6C6C6;
$color_bronze:          #CF6D36;
$color_lang_bg:         #263646;
