.Calendar {
    background-color: #131826;
    padding-right: 1.6rem;

    * {
        font-family: 'Lexend';
    }

    &__header {
        padding-right: 0;
        * {
            color: #fff !important;
        }
    }

    &__monthText, &__yearText {
        background: rgba(255, 255, 255, 0.1) !important;
    }

    &__weekDays {
        padding-right: 0;
    }

    &__monthArrowWrapper {
        border-radius: 50%;
        background-color: #fff !important;
    }

    &__weekDay {
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #FFFFFF;
    }

    &__day {
        background-color: rgba(255, 255, 255, 0.1) !important;
        border-radius: 6px !important;
        color: #fff !important;
        margin: .15rem !important;
        min-width: 14.2857142857%;
        max-width: 14.2857142857%;
        height: 44px;
        
    
        &.-selected {
            background-color: #219FE5 !important;
        }
    
        &.blank {
            background-color: transparent !important;
        }
    }
}